[2012-11-20 15:31] caprenter opened #1 "Push version numbers in files that have not changed"
Should we change the revision metadata in schema files that have not changed:
iati-organisations-schema.xsd has not changed but the iati-common.xsd it relies on has.

Similarly the registry-record schema has not changed.

[2012-11-23 02:52] davidmegginson commented on #1
I agree.  I'll tag the 1.02beta release, then make this change in preparation for the final release.

[2012-12-06 14:22] caprenter commented on #1
I've made the change to version numbers as discussed. I think is ready to roll

[2012-12-06 14:22] #1 closed, assigned to nobody

[2013-04-15 09:47] caprenter opened #2 "Release date needs to be added to each of the 4 schema documents"
When the release date of the 1.03 version is agreed, this needs to go into the documentation notes of each of the four schema.

[2013-04-16 10:26] caprenter opened #3 "Percentages as positive decimal"
Our proposal on percentages as decimals (instead of integers) is here:
http://wiki.iatistandard.org/standard/revision/1.03/changes_specification?&#allow_percentages_to_be_specified_as_decimals

However, percentages should be positive (I think!), do we need a more sophisticated definition where we set minInclusiveValue=0 as well like this example:
http://stackoverflow.com/questions/3853476/how-do-i

[2013-04-16 13:28] caprenter opened #4 "Create New CRS elements"
Start at line 311 of this:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-04-16 13:29] caprenter opened #5 "Create Capital Spend element"
See line 198 of this:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-04-16 13:30] caprenter opened #6 "Create country-budget element"
See line 139 of this:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-04-16 13:31] caprenter opened #7 "Update documentation"
Boxes highlighted in yellow need to be altered in the schema from here:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-04-17 17:44] davidmegginson commented on #3
Possibly, but given how loose our current XSD  validation is in other areas (necessarily, due to XSD technical limitations), we might violate the rule of least surprise by suddenly being extremely strict about some things.

[2013-04-18 09:53] caprenter commented on #3
ok - cool, lets just go with a change from 'integer' to 'decimal' then.

[2013-04-18 15:03] #3 closed, assigned to caprenter

[2013-04-18 15:12] davidmegginson opened #8 "New git branches"
David: I've created two new git branches:
- relaxng - my old work in progress on switching to RelaxNG (saved for future use)
- pre-version1.03 - branch for our work getting ready for version1.03 (rather than using master)

Are these OK with you?  Please feel free to rename them, if not.

[2013-04-18 15:14] davidmegginson opened #9 "Convert percentages from integer to decimal"
Details: http://wiki.iatistandard.org/standard/revision/1.03/changes_specification?&#allow_percentages_to_be_specified_as_decimals

[2013-04-18 15:15] davidmegginson opened #10 "Add a Schema Version Attribute to the root element"
Details: http://wiki.iatistandard.org/standard/revision/1.03/changes_specification?&#add_a_schema_version_attribute_to_the_root_element

[2013-04-18 15:16] davidmegginson opened #11 "Use decimal instead of integer for currency values"
Details: http://wiki.iatistandard.org/standard/revision/1.03/changes_specification?&#currency_values_as_decimal

[2013-04-18 15:22] caprenter commented on #8
Hi Dave

I've already set up a 1.03dev branch and made a few 'getting started' commits for you to review. I did these a couple of days ago. I'm not precious about the naming etc, but you might want to pull those commits in, or switch branches.

I was just starting to reference the commits to the wiki as well.

[2013-04-18 15:24] caprenter commented on #10
see: https://github.com/davidmegginson/iati-schemas/commit/cbdf0a98f92342b2658f5e837118f45e3a6f438a

[2013-04-18 15:25] caprenter commented on #11
see commit: https://github.com/davidmegginson/iati-schemas/commit/cbdf0a98f92342b2658f5e837118f45e3a6f438a

[2013-04-18 15:37] davidmegginson commented on #9
David: I'd like a second pair of eyes for each change.  I found four instances of the @percentage attribute in iati-activities.xsd (recipient-country, recipient-region, location, and second) and changed each of them from xsd:positiveInteger to xsd:decimal.

My changes are in the pre-version1.03 branch.  Could you check that out and verify, then close this issue?

The test tests/activity-tests/shou

[2013-04-18 15:46] davidmegginson commented on #11
David: the change is checked into the pre-version1.03 branch, along with verification tests.

Can you please confirm and close the issue (or reassign to me, if there are any problems)?

[2013-04-18 15:51] davidmegginson commented on #2
Clearing assignee for now -- no one can do anything until we know the release date.

[2013-04-18 16:02] davidmegginson opened #12 "Markup for contact-info/person-name/job-title"
According to the spreadsheet at https://docs.google.com/a/acclar.org/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1 there will be a new element called

  content-info/person-name/job-title

However, since person-name also allows text content, this will make for messy markup.  Can we make that an attribute instead? e.g.

  content-info/person-name/@job-title

[2013-04-18 16:11] davidmegginson commented on #7
Updated all highlighted sections except for the ones covered by the query in #12

David: please verify and close (pre-version1.03 branch).

[2013-04-18 16:33] davidmegginson commented on #8
I've merged my changes into 1.03dev, tested, and pushed.  That's now our working branch.  I've removed pre-version1.03 after the move.

[2013-04-18 16:35] #8 closed, assigned to caprenter

[2013-04-29 13:58] caprenter commented on #12
I see what you mean.

I actually think we should stipulate that in each contact info block we have one contact.
So you might have 2 people at one organisation and one at another that you wanted to report. I would say use 3 contact-info blocks.
Then I would put job-title at the same level as person name.

The 'block' is problematic as you could have more than one organisation/person per contact-inf

[2013-04-29 14:05] caprenter commented on #11
Looks good to me

[2013-04-29 14:05] #11 closed, assigned to caprenter

[2013-04-29 14:06] caprenter commented on #9
I think that is correct.

[2013-04-29 14:06] #9 closed, assigned to caprenter

[2013-04-29 14:22] caprenter commented on #7
I think you missed one documentation update. I've committed it here: 73e1a12570bbc0719e67e944837328c98bf49228 Also I'm getting clarification from Bill that he wants the location documentation changes to stay although we are not doing other changes to that element.

[2013-04-29 14:57] caprenter commented on #7
Confirmation from Bill - we need to roll back on any changes under `location` element -including documentation.

[2013-04-30 20:27] davidmegginson commented on #10
I think this is the right commit: https://github.com/davidmegginson/iati-schemas/commit/3b4bac947da6c58a1699d9866dc07fc931c43911

Thanks for adding the attribute.  Verified, and closing the issue.

[2013-04-30 20:27] #10 closed, assigned to davidmegginson

[2013-04-30 20:34] davidmegginson commented on #6
I'm concerned that the XML element name "country-budget" is too similar to "recipient-country-budget" in the organisation schema.  The two have different purposes, and should probably have more-distinct names.

I'm going to propose "country-budget-info" for now, and will put that into the dev branch, but we'll need to discuss this to see if there are any objections.

[2013-04-30 20:36] davidmegginson commented on #6
Actually, "country-budget-items" is even more descriptive, so I'll use that in the dev branch (pending discussion).

[2013-04-30 20:50] davidmegginson commented on #6
Also using budget-item/@percentage instead of budget-item/@percent for consistency with the rest of the schema.

[2013-04-30 20:54] davidmegginson commented on #6
I've added the country-budget-items element to the activities schema.  Please take a look and verify, then close if you think it's OK.

[2013-04-30 20:56] davidmegginson commented on #12
Yes, @caprenter, that sounds like a reasonable solution.  I'll implement it, then let's take it up with Bill at the next meeting to confirm.

[2013-04-30 21:02] davidmegginson commented on #12
Implemented as discussed -- please review, @caprenter, then close if you think it looks OK.

[2013-04-30 21:34] davidmegginson commented on #5
Again, change the "percent" attribute to "percentage" for consistency with the rest of the schema.

[2013-04-30 21:36] davidmegginson commented on #5
Added per spec, except for the attribute name. @caprenter - please review, and close if the change is OK.

[2013-04-30 22:06] davidmegginson commented on #4
Added crs-add/aidtype-flag

Still to do: loan-terms, loan-status, and fss

[2013-05-07 14:23] caprenter commented on #6
This looks ok to me. I think it just needs some sign off from Bill to make sure it meets what he was thinking, so leaving open for now, but looks good I think.

Also just need to check out the percentages issue.

[2013-05-07 15:16] caprenter commented on #5
Looks good - again leave open until we have decided on the percentage reference issue

[2013-05-10 07:22] caprenter commented on #4
loan-terms has new codelists associated with it: https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDF3SDcwUEQwWnBuVE9IWS11bFVleWc#gid=0

There is an issue with the where these are to be attached to the element - in the codelists spec it looks like they are constraining the values of the text used within the element, rather than being added via an attribute as is usual with 'codelist' value

[2013-05-14 13:31] caprenter commented on #7
We also have 2 new changes on lines 208 and 212 of the google spreadsheet to add/alter

[2013-05-14 15:09] davidmegginson commented on #4
Agreed - loan-terms needs some cleanup.  Here are my recommendations:
- add loan-terms/commit-date/@iso-date to hold the ISO date, to align with other date elements
- add loan-terms/repayment-type/@code, to align with other code elements
- rename loan-terms/nopa to loan-terms/repayment-plan for clarity
- add loan-terms/repayment-plan/@code to align with other code elements
- change loan-terms/rate

[2013-05-14 23:35] bill-anderson commented on #4
Structure is good for me but not name changes:

These elements will only be used by CRS reporters who are used to these names as CRS++ column definitions

If no variable rate is present rate-1 will be the fixed rate. Changing these names adds extra processing logic into IATI and from IATI to CRS++.

Start date and end date do not have the same meaning as first and final, so I would leave as is

Th

[2013-05-15 15:33] caprenter commented on #4
Edited Bill's comment to show the markup. N.B. Indent code by four spaces for the issue list to recognise it as such.

[2013-05-24 13:01] davidmegginson commented on #4
working on loan-terms now ...

[2013-05-24 19:10] davidmegginson commented on #4
Implemented loan-terms, following @bill-anderson 's modifications.  Here's an example:

[code]

Pushed changes upstream in the 1.03dev git branch. Still need to do load-status and fss.

[2013-05-24 19:15] davidmegginson commented on #4
Here's my planned markup for loan-status (no changes to what's in the spreadsheet):

[code]

[2013-05-24 19:30] davidmegginson commented on #4
Implemented crs-add/loan-status and pushed upstream to 1.03dev.  Only crs-add/fss remaining.

[2013-05-24 19:36] davidmegginson opened #13 "Should crs-add/fss/forecast have a value date?"
Every other use of a monetary amount with a @currency code includes a value date, but the standard doesn't require one for crs-add/fss/forecast (line 339ff).  Can you find out if we should include it here as well?  I won't implement it right now in #4 , but can add it if Bill would like to include it.

[2013-05-24 19:37] davidmegginson commented on #4
Here's my planned markup for crs-add/fss:

[code]

Note that I've left out forecast/@value-date for now, since it's not in the standard, but I've created issue #13 to check whether we need it.  I've also renamed fss/@phaseout to fss/@phaseout-year, for clarity.

[2013-05-24 19:52] davidmegginson commented on #4
Added fss.  Note that the standard does not state that fss appears inside crs-add -- please confirm.

@caprenter - can you please review the schema and confirm that this task is complete (all the crs-add markup is added)?  See tests/activity-tests/should-pass/31-crs-add.xml for the test that covers this new markup.

[2013-05-28 09:09] bill-anderson commented on #4
fss should not be inside crs-add

Creditor Reporting System and Forward Spending Survey are two separate OECD DAC products

[2013-05-28 09:12] bill-anderson commented on #13
value date is not there because I took fields direct from the FSS spec

I agree we should add it

[2013-05-29 11:04] caprenter commented on #12
I think this is looking ok - Bill you need to check that this does what you intend. This commit shows test xml near the bottom:
https://github.com/davidmegginson/iati-schemas/commit/a4fee3e3f42683e93b6d283ba63f2230cf3f7c4c

[2013-05-29 11:06] caprenter commented on #6
I'm closing this as I think it looks ok. Please re-open Bill if you have any issues with it.

[2013-05-29 11:06] #6 closed, assigned to caprenter

[2013-05-29 11:28] caprenter commented on #5
Closing as no change for a couple of weeks. Should be ok.

[2013-05-29 11:28] #5 closed, assigned to caprenter

[2013-05-29 11:36] caprenter commented on #4
I've committed a change that should fix. Please review.

[2013-05-29 11:44] bill-anderson commented on #4
Sorry guys, two elements need removing as per Herman's note - last comment in http://support.iatistandard.org/entries/22874883-Extend-the-IATI-standard-with-elements-to-cover-CRS-

loan-status/principal-first-year
loan-status/interest-first-year

crs-add will only be used for future crs++ reporting, not backward looking, so these two can be dropped.

[2013-07-02 15:49] bill-anderson commented on #12
Yup, that's what I expected

[2013-07-02 15:54] #12 closed, assigned to caprenter

[2013-07-02 15:54] bill-anderson commented on #7
Confirm that all changes within <location> go to 1.04. (But recipient-region vocab and activity scope remain)

[2013-07-03 13:12] davidmegginson commented on #4
Assigned to @caprenter for feedback and verification.  All tests pass under tests/activity-tests/

[2013-07-03 13:20] davidmegginson commented on #13
Added fss/forecast/@value-date as an optional attribute -- I didn't want to make it required, because people filling this in from their old fss might not necessarily have the information available.

@caprenter - please verify, and close if the change is OK.

[2013-07-03 13:25] davidmegginson commented on #2
Since I won't be available next week, I'm assigning this to @caprenter to add the dates when Bill signs off.

[2013-07-03 14:42] caprenter commented on #13
Looks good to me.

[2013-07-03 14:42] #13 closed, assigned to caprenter

[2013-07-03 15:02] caprenter opened #14 "Activity Date explanation"
Currently the text within the activity-schema for activity-date is:
Planned starting date for the activity in ISO 8601 date
format, e.g. "2010-10-01".  For the value of the @type
attribute, see
http://iatistandard.org/codelists/activity_date_type

The text content may contain a general date text (e.g. 2011Q1)
for recording less specific dates such as month, quarter, or
year.

I don't think that ma

[2013-07-03 15:14] caprenter opened #15 "Scope of activity"
Bill please confirm!

Add activity Scope element.

Lines 71-73 of the spreadsheet
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-07-03 15:16] caprenter opened #16 "Recipient-region @vocabulary"
Bill - please confirm.

Add @vocabulary to recipient-region
Line 80
the spreadsheet
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-07-03 15:28] caprenter commented on #7
I don't believe new activity-scope element, nor the @vocabulary attribute to recipient region are in the schema yet.

Bill - can you confirm please that:
Lines 71-73 of the spreadsheet ( https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1 )
and
Line 80
SHOULD be in 1.03.

I am creating new tickets for these:
https://github.com/davidmegginson/iati-schemas/

[2013-07-03 15:37] caprenter commented on #7
Documentation updated. One or two missing lines found.
Committed here if you want to review: 73e1a12570bbc0719e67e944837328c98bf49228

Documentation will be complete when we know about:
#16
#15

[2013-07-03 15:38] caprenter commented on #4
Looks good.

[2013-07-03 15:38] #4 closed, assigned to caprenter

[2013-07-04 14:08] bill-anderson commented on #7
(Sorry for delay in replying)

Yes. SHOULD be in 1.03.

[2013-07-04 15:13] bill-anderson commented on #16
Confirmed

[2013-07-04 15:14] bill-anderson commented on #15
Confirmed

[2013-07-04 15:21] bill-anderson commented on #14
"The planned and actual start and completion dates of the activity. Start dates may reflect either the commencement of funding, planning or physical activity. End dates should, wherever possible, reflect the ending of physical activity."

This goes into line 37.
Could you also flesh out description in line 38

"Date type (e.g. start-planned, start-actual, end-planned, end-actual)."

[2013-07-04 15:23] bill-anderson commented on #2
Is this dev release date or live date?

[2013-07-05 15:05] caprenter commented on #2
In the last (1.02) release I altered the date on/just before the day we agreed it was live. It's really a final, final step. so this task can wait. It's not holding up the process now.

[2013-07-05 15:06] bill-anderson commented on #2
Ok, great

[2013-07-08 13:33] caprenter commented on #14
Taken some liberties and combined old and new description of an activity date in the schema.
@bill-anderson - can you review and close if happy pls.

[2013-07-08 13:37] #14 closed, assigned to nobody

[2013-07-08 21:35] davidmegginson commented on #15
Assigned to David C for verification, and to close the task.

[2013-07-08 21:43] davidmegginson commented on #16
Assigned to David C for verification, and to close the task.

[2013-07-09 08:39] caprenter commented on #16
Good work.

[2013-07-09 08:39] #16 closed, assigned to caprenter

[2013-07-09 08:40] #15 closed, assigned to caprenter

[2013-07-24 09:43] caprenter opened #17 "Contact Details - missing elements."
In the forum post on this we have:

We have added the following:

Contact Type (with an associated code list)
Job Title
Website
The ability to report multiple languages has been added to:

Organisation Name
Person Name
Job Title
Mailing Address

.....

Looking at the 1.03 dev schema it looks to me as though:

1) Job title has been added, but Contact Type and Website have not

Also it seems that th

[2013-08-09 18:31] davidmegginson commented on #17
(Copied from the above commit)

Note that the Google spreadsheet called for the attribute name
"contact-type" rather than "type", but I used "type" for two reasons:
1. The "contact" in the name is redundant, since the attribute already
   appears in the "contact-info" element.
2. The use of "type" is consistent with other IATI elements.

[2013-08-09 18:42] davidmegginson commented on #17
Changes complete.  Note that I didn't make non-textual child elements of contact-info (like contact-info/telephone) multilingual, and I used contact-info/@type rather than contact-info/@contact-type for consistency with the rest of the schema.

Over to @caprenter for review (with input from @bill-anderson).  Please check and close.

[2013-08-15 13:42] caprenter commented on #17
Looks good to me. Thanks David. Leaving open for  @bill-anderson to check it meets his intentions.

[2013-09-03 15:05] #2 closed, assigned to caprenter

[2013-09-03 15:05] caprenter commented on #17
Assuming this is ok.

[2013-09-03 15:05] #17 closed, assigned to caprenter

[2013-09-03 15:06] #7 closed, assigned to caprenter

[2013-09-04 13:05] caprenter opened #19 "Currency documentation"
From:
http://support.iatistandard.org/entries/21908708-Allow-decimal-transaction-values

there is a note that says we will:
I propose we alter the guidance in the (iati-common) schema to:

 [add] A three letter ISO 4217 code for the original currency of the amount.
 [remove] An ISO 639 code for the original currency of the amount.

[2013-09-04 13:30] #19 closed, assigned to nobody

[2013-09-04 15:15] caprenter opened #20 "crs-add/loan-status/repayment-type"
I'm seeing
crs-add/loan-status/repayment-type
in the XML

I _think_ this should not be there.

this IS correct under loan-terms:
crs-add/loan-terms/repayment-type

@bill-anderson & @davidmegginson Should we remove this element?

[2013-09-04 20:08] stevieflow opened #21 "@version attribute description"
The description of @version is different between iati-activities and iati-activity:

iati-activities

iati-activity

Should we:

a - align the description around the latter
b - add to iati-activity that the @version here can differ from at iati-activities (or not?)

[2013-09-04 20:25] stevieflow opened #22 "reporting-org description text"
The description text for this element is currently:

The organisation issuing a report (not necessarily involved in the organisation or activity being described). May be a donor, fund, agency, etc. Specifying the @identifier and @role attributes is strongly recommended. May contain the organisation name as content. For the value of the @type attribute, see http://iatistandard.org/codelists/organis

[2013-09-04 20:45] stevieflow opened #23 "Splling mistake on xsd - activity-scope"
iati-activities-schema.xsd

<xsd:element name="activity-scope" type="codeType">
xsd:annotation
<xsd:documentation xml:lang="en">
What geographical area does the activity encompass? eg. Global, Regional, Multi-National, National, Multiple (sub-national) aministrateive areas, etc
/xsd:documentation
/xsd:annotation
/xsd:element

"aministrateive areas, etc" should be "administrative areas, etc"

[2013-09-04 20:57] stevieflow opened #24 "@type description"
The @type description, via the common/xsd is:

Free text describing the type of thing being referenced.

However, for instances such as organisation type or document type, we do wish that the code list is utilised.  Is this description therefore in need of a fix?

[2013-09-05 07:55] #23 closed, assigned to nobody

[2013-09-05 07:57] bill-anderson commented on #24
Yes.
"A coded attribute describing the type of entity described by the element, and defined by the relevant code list." Or something a little more coherent?

[2013-09-05 07:58] caprenter commented on #22
@bill-anderson Can you ok this asap? If you are happy we can get this into the schema before Friday.

[2013-09-05 08:08] bill-anderson commented on #22
Is this a bit better?

The organisation issuing the report. May be a primary source (reporting on its own activity as donor, implementing agency, etc) or a secondary source (reporting on the activities of another organisation). Specifying the @ref and @role attributes is strongly recommended. May contain the organisation name as content. For the value of the @type attribute, see http://iatistandar

[2013-09-05 08:10] caprenter commented on #22
If @stevieflow is also happy, I shall commit the change. Looks good to me.

[2013-09-05 08:23] stevieflow commented on #22
Happy with the revised words

NB - the URL http://iatistandard.org/org-ref doesnt point anywhere atm - I thought it might be prudent to have this and use it as a forwarding URL to the relevant place - just in case we change things around at the documentation.  If this is a hassle, then can revert

[2013-09-05 08:27] bill-anderson commented on #22
We need some documentation on this now -

http://iatistandard.org/guides/organisation-data/ refers to code lists and therefore needs changing

http://iatistandard.org/guides/organisation-data/organisation-identifiers/ needs some intro to explain DAC codes and ongoing gaps

[2013-09-05 08:29] caprenter commented on #24
Because this is in the iati-common schema it is meant to be re-used across many elements, hence the generic description.

If we want more specific information about certain elements or the way the attribute is used with those elements for now you will need to add it in the documentation on the wiki (which will be pulled into the website pages, but will not be in the schema itself)

If we want more

[2013-09-05 08:33] caprenter commented on #22
Ok - great. I can update the schema.
Documentation/websites/redirects etc can be dealt with elsewhere. I can sort out the re-direct, I guess @stevieflow can work on the documentation. Will close this ticket once the new guidence in the xsd is in place.

[2013-09-05 08:35] bill-anderson commented on #22
Just need to agree what url you are going to point to. The new one or an existing one. Over to @stevieflow

[2013-09-05 08:37] stevieflow commented on #24
Yes, I realised that.

My only thought was whether altering this generic case would fix our need in this version anyway?  The "generic text" is misleading publishers (perhaps). Is there an example of @type where it can be used in this way, or must @type also refer to a codelist?

[2013-09-05 08:45] stevieflow commented on #22
Put the URL in the schema, and we can then redirect

[2013-09-05 08:50] #22 closed, assigned to nobody

[2013-09-05 14:31] bill-anderson commented on #24
Always refers to a codelist

[2013-09-05 17:27] davidmegginson commented on #20
Confirmed that crs-add/loan-status/repayment-type is not in the 1.03 proposed changes at https://docs.google.com/a/acclar.org/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc#gid=1

[2013-09-05 17:29] davidmegginson commented on #20
Confirmed that crs-add/loan-status/repayment-type _does_ appear in iati-activities-schema.xsd

[2013-09-05 17:32] davidmegginson commented on #20
Passed to Bill for confirmation that this change was correct.  Please confirm and close.

[2013-09-05 18:10] bill-anderson commented on #20
No. I cannot confirm, it should be there.

In the proposed changes as per above gdoc  we have crs-add\loan-terms\repayment-type\text()

crs-add/loan-status/repayment-type should be there and is (incorrectly) missing (apologies)

There is an associated codelist

[2013-09-06 09:40] caprenter commented on #20
I'm still not clear.

Are we saying that both elements should be in the schema:
crs-add/loan-terms/repayment-type and
crs-add/loan-status/repayment-type
?

If so this is how what the schema WAS showing before, and that I thought might be a bug. @bill-anderson you are saying this was correct and NOT a bug? (If so how did @davidmegginson manage to get it into the schema if it wasn't in the documenta

[2013-09-06 09:45] bill-anderson commented on #20
Apologies !!!
I have totally not seen that one is loan-status and one is loan-terms

I can confirm that  crs-add/loan-status/repayment-type should not be in the schema

(still can't believe how my eyes didn't see this)

[2013-09-06 09:50] caprenter commented on #20
Great, so the fix is good. I'll close the issue

[2013-09-06 09:50] #20 closed, assigned to nobody

[2013-09-13 07:27] stevieflow opened #25 "fss not in schema CHANGES.txt"
It looks like the addition of the new optional element fss is not in the CHANGES.txt - maybe on the assumption that is it a child element of crs-add?

[2013-09-16 13:04] Bjwebb opened #26 "README.txt is out of date"
Still says 1.02

[2013-09-16 14:54] caprenter commented on #26
Confirmed.

Combined with the issue https://github.com/davidmegginson/iati-schemas/issues/25 these  are minor changes that could be applied soon. We have an announcement going out later this week. I propose we fix these 2 issues, but announce that we have altered them since the tagged 1.03 version.

[2013-09-23 14:01] Bjwebb opened #27 "country-budget-items allows a mix of text and iati sub elements"
In the new schema, XML like this is valid:

[code]

This is because country-budget-items has `mixed="true"`. This is different to most other elements that have subelements in the schema. Is this a bug?

[2013-09-23 15:59] Bjwebb opened #28 "Grammar in transaction documentation"
https://github.com/davidmegginson/iati-schemas/blob/0fdda51c83ad34213966f1fb4f1063314717229f/iati-activities-schema.xsd#L655

`allows uniquely identifying a transaction` should maybe be `allows unique identification of a transaction`

[2013-10-02 12:24] caprenter opened #29 "Licence information"
How are the iati-schema licenced? Do they need to be, etc, etc

[2013-10-07 15:01] Bjwebb opened #30 "@version attribute on iati-activity"
[code]

Should this be on both iati-activities and iati-activity. The behaviour if one is defined and the other isn't is not well defined. Moreover, it is not clear if documents with iati-activity elements with different version attributes are permitted, since the documentation says iati-activity@version refers to whether the _document_ uses certain features.

Additionally, the documentation says

[2013-10-07 15:55] bill-anderson commented on #30
Should be in iati-activities only. (can't see the use case for two activities in the same file employing different versions)

Documentation should say: "defaults to the current version ..."

[2013-10-07 17:36] stevieflow commented on #30
Is that a proposal to *remove" @version from iati-activity?  I had understood the rationale for including it was in the use case where people parse out activities (as in the datastore).  In this case, how would we know what version these activity documents relate to (although granted, this is not in use currently)?

[2013-10-08 08:34] bill-anderson commented on #30
Yup you're right,  the use case is not for loading into the data store (which can inherit from iati-activities) but in the xml blobs that can be accessed separately.What then is the point of having it in iati-activities??

[2013-10-10 09:01] Bjwebb opened #31 "Capitalisation of repository title"
This is inconsistent with all our other IATI- repositories, should it be renamed?

[2013-10-10 10:45] caprenter commented on #31
yes

[2013-10-11 08:47] Bjwebb commented on #31
So, I guess it should be IATI-Schemas. Shall I go ahead and do this. Can't think of anything that will need updating when this changes, as github seems to redirect everything pretty well.

[2013-10-11 09:28] caprenter commented on #31
go for it

[2013-10-11 09:28] #31 closed, assigned to nobody

[2013-10-16 11:17] stevieflow commented on #30
Please also note that the description text with this particular attribute is:

"A number indicating the IATI specification version in use. Defaults to "1.0" if not specified. It is required to specify this attribute if the document is using features specific to an IATI specification other than the initial 1.0 version."

Whereas for iati-activities it is just:

"A number indicating the IATI specifi

[2013-10-23 13:22] Bjwebb opened #32 "reporting-org documentation mentions non-existent @role"
@role is mentioned in the reporting-org documentation (https://github.com/IATI/IATI-Schemas/blob/master/iati-common.xsd#L86), but it does not have an attribute by this name.

[2013-10-25 10:34] Bjwebb opened #33 "Remove @version and @last-modified attributes"
These are no longer necessary, as version control is done through github.

[2013-10-25 13:52] Bjwebb commented on #33
Oops. This issue. This belonged on my codelist repository.

[2013-10-25 13:52] #33 closed, assigned to nobody

[2013-10-29 16:33] Bjwebb opened #34 "@currency is used in organisation xml, but talks only about iati-activities"
https://github.com/IATI/IATI-Schemas/blob/master/iati-common.xsd#L201

" This is required for all currency amounts unless the iati-activity/@default-currency attribute is specified."

Should be amended to mention that this is true for IATI Activity files, whereas for IATI Organisation files, it is iati-organisation/@default-currency attribute

[2013-10-30 13:40] Bjwebb commented on #21
See also the more general discussion of these attributes at https://github.com/IATI/IATI-Schemas/issues/30

[2013-11-18 11:34] caprenter opened #35 "Description on location-type is inacurate"
This is apparently not accurate
"The type of location (e.g. "PCL" for a political entity), from an IATI-defined subset of the UCPD/Aiddata code list. See http://iatistandard.org/codelists/location_type"

[2013-12-18 09:36] wendyrogers opened #36 "Introduce a New Transaction Type For Internally Sourced Funds"
Raised from Zendesk ticket #1047. Currently, it is not necessary for organisations to report or include funding that comes from their own fundraising ( or similar internal) sources. Therefore should such funding be reported on (and do we perhaps need a new transaction type called locally raised funds, or something)

[2013-12-18 09:39] wendyrogers opened #37 "Description For Transcation Type Incoming Funds Is Incorrect"
Raised from Zendesk ticket #1047. Currently the description for Incoming Funds on the codelist for Transaction Type states that IF transations only relate to 'external' funds. This is apprantly not the case and IF transactions can be used to describe transfers between accounts or projects within a single organisation

[2013-12-18 09:41] wendyrogers opened #38 "Enhance Description of Transaction Type Disbursement"
Raised from Zendesk ticket #1047. It is currently not clear what is meant by the text in brackets that describes the Transaction Type of Disbursement on the Transaction Type Codelist. Please could this be clarified

[2013-12-19 15:04] stevieflow opened #39 "country-budget-items/budget-item@percentage"
This attribute expects percentage, even when there is only one in use.

This should act in the same way as country and sector, in that percentage is only expected when there are multiples of the element within the activity

[2014-01-14 12:56] stevieflow opened #41 "NDP example for result > indicator /@measure"
http://iatistandard.org/activities-standard/result/indicator/

Text describes NDP, but this is not on the code list

[2014-01-14 14:15] caprenter opened #42 "reporting-org descriptive text needs review"
"Specifying the @ref and @role attributes..."

reporting-org does not have a @role attribute.

Also we might want to move descriptions about attributes out of element descriptions and into descriptions connected to the attribute itself.

[2014-01-14 14:36] wendyrogers opened #43 "Better Describe the Roles of Organisations Publishing On Behalf Of Others"
This issue has been raised from zendesk ticket 18. See https://iati.zendesk.com/agent/#/tickets/18

We need to include additional fields within the schema to better describe the role of a publisher who is publishing data on behalf of others. The Activity files needs to support secondary publishers. There are three scenarios that need to be covered:
1. Aggregator publishes a donor activity that it

[2014-01-14 16:17] stevieflow opened #46 "common schema - percentage"
Description for percentage in common schema states:

The percentage of the budget allocated to this item.  Content
        must be a positive real number between 0 and 100, with no
        percentage sign.

I think this has to be updated to reflect the changelog in 1.03:

Where used, the @percentage attribute is now designated as a decimal value and no longer as a positive Integer

[2014-01-14 16:36] caprenter commented on #46
New text supplied via
https://github.com/IATI/IATI-Schemas/commit/82849506146c96b510ed527fff52280797b069a5

@bill-anderson please can you review and edit as necessary

[2014-01-14 16:53] bill-anderson commented on #46
That's ok

[2014-01-14 16:53] #46 closed, assigned to bill-anderson

[2014-01-15 13:26] Bjwebb commented on #26
Fixed in https://github.com/IATI/IATI-Schemas/commit/98a6aba1f55279c606a495cb79c4267f0307c292

[2014-01-15 13:26] #26 closed, assigned to nobody

[2014-01-15 13:27] Bjwebb opened #48 "Description of attributes should be moved into attributes"

[2014-01-21 15:27] caprenter opened #49 "Some notes and questions on the 1.04 schema changes"
Country, adm1, adm2 descriptions. These are different in the spreadsheet to those currently in the schema. Given that we are deprecating these attributes, do we want to alter the text to the text that is in the spreadsheet?

Point is marked up as 'point' in the schema instead of 'Point' as specified in the spreadsheet. Is that ok?
point has no description in the spreadsheet, should it have?

Have

[2014-01-21 16:06] caprenter commented on #35
location-type is to be deprecated in 1.04 - it is unclear whether or not this text needs to be changed

[2014-01-21 16:06] caprenter commented on #32
Can you suggest some alternative text please @bill-anderson

[2014-01-21 16:08] caprenter commented on #32
Sorry, I see this is a duplicate of
https://github.com/IATI/IATI-Schemas/pull/44
and that you have suggested a fix.

[2014-01-21 16:08] #32 closed, assigned to bill-anderson

[2014-01-21 16:09] caprenter commented on #41
Do you have a solution/suggestion for how to fix this @bill-anderson

[2014-01-23 16:29] caprenter opened #50 "1.04 Tests - do they need to be improved?"
Test for pass and fail XML for the new elements in 1.04 should be written.

[2014-01-23 20:48] #28 closed, assigned to nobody

[2014-02-11 17:04] caprenter commented on #39
I think we can remove this requirement in 1.04. It would be backwards compatible (?) and I cannot see any problems with bringing it in line with country and sector.

[2014-02-11 18:44] stevieflow commented on #39
Just to confirm - that by "I think we can remove this requirement in 1.04." you mean the requirement that the schema expects a percentage even when there is only one budget-item?

[2014-02-12 12:51] caprenter commented on #39
The difference in the xml is:
Sector and recipient-country for example use:

[code]

country-budget-items/budget-item uses.

[code]

I think we could alter that 'required' to 'optional' in 1.04 without any objection.

[2014-03-10 21:53] Bjwebb commented on #50
What's the current status of this?

[2014-03-10 21:55] Bjwebb opened #51 "Update CHANGES.txt for 1.04"

[2014-03-10 21:56] Bjwebb opened #52 "Update README.txt for 1.04"

[2014-03-11 15:07] Bjwebb opened #53 "Remove hardcoded urls from the schema"
This will be replaced by a separate mapping file - https://github.com/IATI/IATI-Codelists/blob/master/mapping.xml

I will also look into creating a new annotated schema, with extra information about codelists, and from https://github.com/IATI/IATI-Extra-Documentation

[2014-03-11 15:08] stevieflow opened #54 "Review and update schema text"
Specifically, the text that is used for SSOT documentation.

Ensure this is precise and concise

Remove links to codelists - see: #53

[2014-03-12 12:56] Bjwebb opened #55 "Update schema header"
The version and date need changing for 1.04

[2014-03-12 14:21] Bjwebb opened #56 "Set up travis for this repository"

[2014-03-13 11:27] Bjwebb commented on #42
General issue for moving descriptions into attributes - https://github.com/IATI/IATI-Schemas/issues/48

[2014-03-17 10:03] caprenter commented on #50
3 'should pass' tests are available in 1.04dev branch. I think this pretty much covers what needs to be done.

[2014-03-17 10:11] Bjwebb commented on #50
Can this issue be closed then?

[2014-03-17 10:19] caprenter commented on #50
I think there is still the issue that the community has not yet inspected this, or had the chance to inspect it properly.

Maybe we need to change the title a little, but by the release of 1.04 we should be confident we have the right tests in place and that there is agreement on that.

[2014-03-17 10:22] Bjwebb commented on #50
Ah, yes, good point.

[2014-03-17 16:43] Bjwebb commented on #53
I've created an issue in IATI-Standard-SSOT for producing an annotated schema https://github.com/IATI/IATI-Standard-SSOT/issues/26

[2014-03-19 17:17] #55 closed, assigned to nobody

[2014-03-19 17:26] #52 closed, assigned to nobody

[2014-03-25 14:06] Bjwebb commented on #27
We think that this is a bug, but fixing it will break backwards compatibility. We intend to fix this in 2.01. I'll post on the support forum shortly.

[2014-03-27 13:55] caprenter opened #58 "Deprecated stuff"
Should there be something added to the schema so that when something is deprecated we can read that from the schema?

So far I think we have deprecated both elements and attributes.

If this was desirable it could go into 1.05 and 2.01 possibly

[2014-03-27 15:58] Bjwebb opened #59 ""lat lng" is not comma separated"
https://github.com/IATI/IATI-Schemas/blob/1.04dev/iati-activities-schema.xsd#L1001

Which is taken from http://support.iatistandard.org/entries/30408993-Summary-of-1-04-Changes

Does not agree with http://support.iatistandard.org/entries/30339187-New-Location-Point-element

[2014-03-27 17:11] Bjwebb commented on #59
Should, in fact, be space separated - http://support.iatistandard.org/entries/30339187-New-Location-Point-element

[2014-03-27 17:11] #59 closed, assigned to nobody

[2014-03-27 17:27] #51 closed, assigned to nobody

[2014-03-27 17:28] Bjwebb commented on #49
I think that using `point` instead of `Point` could be a problem, since I think it's meant to be consistent with some other standard.

[2014-03-27 17:28] Bjwebb commented on #49
Deprecation has been split out into a sepreate issue - https://github.com/IATI/IATI-Schemas/issues/58

[2014-03-27 17:30] Bjwebb commented on #58
It would be good to have machine readable deprecation information. Ideally this should include the version it was deprecated in.

[2014-03-27 18:21] Bjwebb commented on #42
Fixed by this commit - https://github.com/IATI/IATI-Schemas/commit/e9fed4c4c3719745366886727730566932e3cac8

[2014-03-27 18:21] #42 closed, assigned to Bjwebb

[2014-03-27 18:26] #34 closed, assigned to nobody

[2014-03-27 18:27] #53 closed, assigned to nobody

[2014-03-27 18:32] Bjwebb commented on #39
Closing this issue, since any discussion can continue on the pull request - https://github.com/IATI/IATI-Schemas/pull/61

[2014-03-27 18:32] #39 closed, assigned to Bjwebb

[2014-03-27 20:24] bill-anderson commented on #58
Yes

Deprecated items cannot be removed from the schema - but should be clearly marked

From: caprenter [mailto:notifications@github.com]
Sent: 27 March 2014 13:56
To: IATI/IATI-Schemas
Subject: [IATI-Schemas] Deprecated stuff (#58)

Should there be something added to the schema so that when something is deprecated we can read that from the schema?

So far I think we have deprecated both elements

[2014-03-28 19:28] Bjwebb opened #62 "language element describes code attribute, but not explicitly"
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/document-link/language/

The schema description of the element:

Is actually describing the `@code` attribute. The text inside the element should actually be human readable text. The schema description should be updated to reflect this.

[2014-03-28 19:36] Bjwebb opened #63 "Broken urls in the schema"
http://iatistandard.org/codelists/crs-repayment-type
http://iatistandard.org/codelists/repayment-nopa

[2014-04-08 14:28] caprenter commented on #49
Have asked Owen about the Point point

[2014-04-08 15:21] owenscott commented on #49
See related discussion here: http://support.iatistandard.org/entries/30339187-New-Location-Point-element

Our idea was to adopt consistent markup with GML. Two reasons: (1) consistency with other standards. (2) implicitly putting in place the scaffolding for adopting standard markup for line and polygon features if we ever go that way in the future.

At the same time, point vs Point violates the u

[2014-04-08 17:23] owenscott opened #64 "<supporting-information> is not a good element name"
The below pertains to iati-activities/iati-activity/location/supporting-information.

The name "supporting-information" was always meant as a placeholder until someone had a better suggestion. The element has a two-value code list: 1. Exact, 2. Approximate. It's supposed to represent the "exactness" of a location. "Approximate" would mean "I don't really know the exact locations for this project,

[2014-04-09 09:17] Bjwebb commented on #24
This issue is discussed further in https://github.com/IATI/IATI-Standard-SSOT/issues/14 - I'm closing this issue now because the other one is more up to date.

[2014-04-09 09:17] #24 closed, assigned to nobody

[2014-04-09 09:18] Bjwebb commented on #29
A more general issue for the whole SSOT can be found at https://github.com/IATI/IATI-Standard-SSOT/issues/7

[2014-04-09 09:31] Bjwebb commented on #30
The purpose of having `@version` in `iati-activities` is so that a data user can easily look at a file, and work out what version of the IATI Standard is needed to interpret the file. I don't think it should be possible to have activities of differing versions in a file (as this is problematic for data consumers), but this is not a constraint we currently describe anywhere.

I've written my propos

[2014-04-09 09:33] Bjwebb commented on #21
I think we should do (a) as part of our documentation work for 1.04.

I think (b) needs to go through the upgrades process, see this post - http://support.iatistandard.org/entries/50761977--version-should-be-consistent

[2014-04-09 09:38] Bjwebb commented on #36
Moved this to the upgrades forum: http://support.iatistandard.org/entries/51286906-Introduce-a-New-Transaction-Type-For-Internally-Sourced-Funds

[2014-04-09 09:38] #36 closed, assigned to nobody

[2014-04-09 09:41] Bjwebb commented on #43
Moved this to the upgrades forum: http://support.iatistandard.org/entries/50764737-Better-Describe-the-Roles-of-Organisations-Publishing-On-Behalf-Of-Others

[2014-04-09 09:41] #43 closed, assigned to nobody

[2014-04-09 09:43] Bjwebb commented on #37
Moved this to the upgrades forum: http://support.iatistandard.org/entries/50777388-Description-For-Transcation-Type-Incoming-Funds-Is-Incorrect

[2014-04-09 09:43] #37 closed, assigned to nobody

[2014-04-09 09:50] Bjwebb commented on #38
http://dev.iatistandard.org/codelists/TransactionType/

@bill-anderson could you clarify this?

[2014-04-09 09:56] Bjwebb commented on #27
http://support.iatistandard.org/entries/47428736-Don-t-allow-mixed-XML-and-text-in-country-budget-items

[2014-04-09 12:35] owenscott opened #65 "Add @vocabulary-version to location-id and administrative elements"
Right now for each of these we have a code and vocabulary, e.g.

location-id
location-id/code
location-id/vocabulary

administrative
administrative/code
administrative/vocabulary

Suggesting to add location-id/vocabulary-version and administrative/vocabulary-version as well. For vocabularies which use explicit release versioning (e.g. GADM) it should record the version of the data which was used (

[2014-04-09 14:03] Bjwebb opened #66 "Implement 2.01 "1. Strengthening the core of the standard""
http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

http://support.iatistandard.org/entries/56799133-Version-2-01-Iteration-1-1-Strengthening-the-Core-of-the-Standard/

Most of these proposals will be implemented by adding new rules to the standard.json ruleset. There is a separate issue there - https://github.com/IATI/IATI-Rulesets/issues/13
### Th

[2014-04-09 14:06] Bjwebb opened #67 "Implement 2.01 "2. Additional mandatory conditions""
http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

http://support.iatistandard.org/entries/57417568-Version-2-01-Iteration-1-2-Additional-Mandatory-Conditions

The following proposals can be implemented in the schema:
- [x] change the definition of planned-disbursement to say, if it is a single date, then use the period start date. ([discussion](ht

[2014-04-09 14:07] Bjwebb opened #68 "Implement 2.01 "4. A consistent approach to multi-lingual names, descriptions and free text.""
http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

http://support.iatistandard.org/entries/56804973-Version-2-01-Iteration-1-4-Multi-lingual-text-fields

[2014-04-09 14:13] Bjwebb opened #69 "Implement 2.01 "Improvements to the Organisation Standard""
http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

[2014-04-09 14:13] Bjwebb opened #70 "Implement 2.01 "7. Replicate more activity-level elements at transaction level""
See item 7 in the Thematic content agreed by IATI Steering Committee:   http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

http://support.iatistandard.org/entries/57969126-Version-2-01-Iteration-1-7-Replicate-more-activity-level-elements-at-transaction-level
- [x] Sector - http://support.iatistandard.org/entries/41583326-Add-transaction-sector (NB

[2014-04-09 14:15] Bjwebb commented on #69
@bill-anderson Could you please elaborate on what the proposed changes to the Organisation Standard are.

[2014-04-09 14:15] Bjwebb opened #71 "Implement 2.01 "Recipient-region and recipient-country merge""
http://support.iatistandard.org/entries/41585486-Modify-recipient-country-and-recipient-region-merge-

http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous
http://support.iatistandard.org/entries/77311697-Version-2-01-Iteration-2-8-Miscellaneous
- [x] 1) Allow for both existing elements to be used with the percentage split shared between them. (if both elements

[2014-04-09 14:16] stevieflow opened #72 "Description text for org standard"
This would need adding to the org schema for iati-organisation

It is currently here: http://iatistandard.org/organisation-standard/record-header/

But not in the SSOT: http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/

The iati-organisations element does not have any descriptive text in the old website: http://iatistandard.org/organisation-standard/file-heade

[2014-04-09 14:42] stevieflow opened #73 "Organisation name - remove name dropping"
Along with the policy of removing name dropping - the name description needs revising:

Suggestion - take out " (e.g. “Doctors without Borders”)" entirely (as code examples will be given).

[2014-04-09 15:44] stevieflow opened #74 "Documentlink example"
We state:

My understanding is that document-links are preferably documents to be downloaded, rather than webpages (which may contact several links)

@markbrough may have an opinion

In the schema description text (in org and activity) it might be worth adjusting to

a) reflect this

and/or

b) changing the URL to http://www.example.org/doc.odt

[2014-04-09 15:49] stevieflow opened #75 "No mention that at least one sub-element is expected in document-link"
Here: http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/document-link/

Validation always expects one of the sub-elements

[2014-04-09 15:53] stevieflow opened #76 "organisation / total-budget - different descriptions"
Via the schema, and so in the SSOT:

In the website (entered manually)

The latter will be lost when we move to SSOT.  @bill-anderson please advise accordingly

[2014-04-09 16:12] stevieflow opened #77 "organisation / org-budget - different descriptions"
In Schema / SSOT:

In (current) live site - this text will be lost if not incorporated into schema:

Flagging for @bill-anderson initially

[2014-04-09 16:19] stevieflow opened #78 "organisation / recipient-country-budget - different descriptions"
In SSOT / Schema:

In current live site:

Flag for @bill-anderson initially

[2014-04-09 16:38] bill-anderson commented on #69
Still needs work - I will get onto it next week

Sector budgets
And possibly the nesting of country budgets and country documents under a country element

@markbrough had some ideas - are they in KB?

[2014-04-09 16:41] Bjwebb commented on #75
This is true of other elements, such as iati-activity

[2014-04-09 16:45] bill-anderson commented on #75
Is this not one of (many) conditional validations. For every document-link element there must be a url, a title and a category. The schema can't do this, right?

[2014-04-09 16:49] Bjwebb commented on #75
The schema currently requires that document-link and iati-activity have at least one subelement.

[2014-04-09 16:58] bill-anderson commented on #75
Which is not very helpful. So to repeat my question above: the schema can't handle what we need and we need additional conditional logic?

[2014-04-09 17:00] Bjwebb commented on #75
Correct, this is what https://github.com/IATI/IATI-Rulesets/blob/version-1.04/rulesets/standard.json is for.

[2014-04-09 17:19] bill-anderson commented on #38
Yes. Needs work. We need the above ODA definition but must add a broader one.(Actually the other way round. Need a broad definition and the include a specific one for CRS reporters)

[2014-04-09 17:43] stevieflow commented on #75
If I try to validate:

[code]

I get a response of

5   Error 1871  Element 'document-link': Missing child element(s). Expected is one of ( title, category, language, ##other\* ).

My original question (maybe not clear) was how we display this via the SSOT into iatistandard.org

[2014-04-10 09:45] Bjwebb commented on #38
Is improving this definition something that needs to go through the updates forum, or should it just remain as a github issue?

[2014-04-10 10:51] Bjwebb opened #79 "iati-identifier is used in organisation schema"
But in the description:

http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/iati-identifier/

[2014-04-10 11:04] caprenter commented on #79
I propose:

[2014-04-10 11:09] Bjwebb commented on #21
I note that this still refers to "1.0". Is this a valid version of the standard to be referring to in the version attribute? What are the valid versions? Should this be constrained by a codelist?

[2014-04-10 12:45] Bjwebb opened #80 "Remove all urls of organisation codelist"
Since we are retiring this list, as described at http://support.iatistandard.org/entries/28497976-Retire-the-Organisation-Identifier-codelist

http://iatistandard.org/codelists/organisation should be removed from the Schema.

There is also http://iatistandard.org/org-ref which currently redirects to the above, but I believe that @stevieflow wants to make this the new page that explains how you sho

[2014-04-10 13:03] Bjwebb commented on #70
This is now visible on the dev site:
http://dev.iatistandard.org/201/activities-standard/iati-activities/iati-activity/transaction/
http://dev.iatistandard.org/201/activities-standard/iati-activities/iati-activity/transaction/recipient-country/
http://dev.iatistandard.org/201/activities-standard/iati-activities/iati-activity/transaction/recipient-region/
http://dev.iatistandard.org/201/activities-

[2014-04-10 13:17] Bjwebb commented on #70
We also need to clarify what the `@percentage` attribute means now that these elements are at activity and transaction level. Owen has a proposal for this - http://support.iatistandard.org/entries/41583326-Add-transaction-sector

[2014-04-10 14:15] bill-anderson commented on #70
@davidmegginson are you happy with us referencing the same element in different places. I personally prefer this approach to the one we took (eg) with default-aid-type at activity level and aid-type at transaction level.

With this approach the definition would be

The country that benefits from this activity or transaction. This can be recorded at either activity or transaction level. This is not

[2014-04-10 14:45] bill-anderson commented on #79
That's really bad. I suggest that in 2.01 organisation standard is changed and iati-identifier is renamed iati-organisation-identifier

[2014-04-10 14:53] caprenter commented on #79
I've already added this is an issue on the modifications etc forum:
http://support.iatistandard.org/entries/50478433-Better-treatment-of-iati-identifier-in-the-schema

[2014-04-10 14:58] Bjwebb commented on #71
1) This is not enforced in any machine readable way at the moment, so this change will be a change to documentation text.
2) Is covered by https://github.com/IATI/IATI-Schemas/issues/70

[2014-04-11 06:32] bill-anderson commented on #38
Commitments and disbursements are the two with critical cross-overs to CRS. So I would put this into 2.01

[2014-04-11 08:54] Bjwebb commented on #38
I've posted this on the zendesk forum for 2.01 - http://support.iatistandard.org/entries/51451257-Enhance-Description-of-Transaction-Type-Disbursement

[2014-04-11 13:01] Bjwebb commented on #65
I've linked to this issue from the relevant posts on the upgrade forum, so that it is visible to anyone following the proposals there:
- http://support.iatistandard.org/entries/30360498-New-Location-Location-Id-element?page=1#post_25385023
- http://support.iatistandard.org/entries/30855656-Changes-to-Location-Administrative-element?page=1#post_25403677

[2014-04-11 13:05] Bjwebb commented on #65
Could you clarify what you mean by OSM lacking explicit release versioning? Each object seems to be both versioned individually, and each change is part of a globally numbered changeset.  Might one of these be preferable to an ISO-date?

[2014-04-11 13:13] Bjwebb commented on #64
I don't have any better suggestions. @bill-anderson says [on the forum](http://support.iatistandard.org/entries/30405313-New-Location-Supporting-Information-element) that 'precision' is misleading. Could someone clarify why this is?

[2014-04-11 14:10] bill-anderson commented on #64
precision suggests something like how many decimal points in the exact location

definition, exactness, proximity
??

[2014-04-11 14:22] Bjwebb commented on #64
I think `definition` is somewhat vague in the same way supporting-information is. `proximity` suggests an actual distance.

I'm okay with `exactness`.

If we change the name of the element, I suggest we also change the name of the codelist. E.g. for `exactness`, `GeographicSupportingInformation` would become `GeographicExactness`.

[2014-04-11 14:26] bill-anderson commented on #64
works for me

[2014-04-11 15:46] owenscott commented on #64
exactness is genius.

[2014-04-11 15:50] owenscott commented on #65
Let's chalk that one up to complete misremembering then :). If OSM has explicit versioning then we should definitely use that. In which case I think all of our vocabularies have versioning. I still suggest keeping ISO-DATE as a fallback option in the case of data sources like country-provided boundaries which we might support but which do not typically have explicit versioning.

[2014-04-14 10:16] caprenter commented on #25
@Bjwebb This is now fixed for 1.04 - but is also a 'bug' in 1.03. Do you have an idea about what should we do about that?

[2014-04-14 10:18] Bjwebb commented on #25
I would cherry pick the change to the new `version-1.03` branch, and then update the files at http://iatistandard.org/downloads/ with the new file for 1.03.

[2014-04-14 10:39] Bjwebb opened #81 "Changelog includes direct links to the wiki"

[2014-04-14 14:09] stevieflow opened #82 "planned-disbursement is missing a description in the schema"
meaning that http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/planned-disbursement/ lacks any description

[2014-04-14 15:23] stevieflow opened #83 "other-identifier - differences in definition"
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/iati-identifier/

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/other-identifier/

[2014-04-14 15:27] stevieflow opened #84 "XX.XX Related Activity"
In the schema for `related-activity` we have

Not sure this is needed, or what it is intended to mean

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/related-activity/

[2014-04-14 16:11] #84 closed, assigned to nobody

[2014-04-14 16:19] Bjwebb commented on #82
Looking at Bill's spreadsheet - https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdDcwRHJxaXgtLWVoY2N5VWt4ck1oeGc&usp=drive_web#gid=1 - the 'definition' of planned disbursement is "The recommendation is that, where and when possible, the amounts it is planned to disburse and spend on the activity in each of the next three financial years are reported."

Not sure whether we should be using t

[2014-04-14 16:24] bill-anderson commented on #82
Needs a new one explaining difference between this and budgets

[2014-04-14 17:25] bill-anderson commented on #83
We need to clarify this definition in conjunction with related activity,

My preference is for the latter and another code in related-activity-type to indicate "another publisher's report on the same activity"

[2014-04-15 09:31] markbrough commented on #74
@stevieflow I think that makes sense. In the 2014 Index we require that `document-link`s link to the specific document rather than a link to a general webpage that may (or may not) contain a relevant document for that activity.

I think it's still alright to link to webpages as long as they contain the relevant information, but I guess using a document as an example would be clearer (and I would j

[2014-04-15 10:15] stevieflow commented on #74
Thanks @markbrough -

Take a look at http://dev.iatistandard.org/organisation-standard/overview/document-links/ as an "overview" of documents - leading to the more detailed reference.

We should change the URL in the schema - I propose to keep the .odt though!

[2014-04-15 11:58] Bjwebb commented on #65
Following discussion with @caprenter and @bill-anderson we think that this proposal is best delayed until 1.05, since it is not completely necessary and it is quite late in the 1.04 process to be adding new elements/attributes.

I've created this forum post:
http://support.iatistandard.org/entries/53489706-Add-vocabulary-version-to-location-id-and-administrative-elements

[2014-04-15 12:51] markbrough commented on #69
@bill-anderson - yes, all on the KB
- Country strategy papers: http://support.iatistandard.org/entries/21149511-document-link-and-country-strategy-papers
- Sectoral budgets: http://support.iatistandard.org/entries/21180586-Budgets-and-sectors
- Tentativeness of budgets: http://support.iatistandard.org/entries/21150501-Budgets-and-tentativeness

The third one I think is probably just a question of

[2014-04-15 15:16] davidmegginson commented on #70
I think that approach can work.  _default-X_ at the activity level has the (modest) advantage that it's more self-documenting — it partly answers the question "what's the difference between _X_ at the activity and transaction level — but I don't think that advantage is compelling enough to decide the question.  You can handle the documentation simply by expanding to something like _"A partner coun

[2014-04-15 17:38] stevieflow commented on #83
@bill-anderson thanks

The suggestion for another code cannot be covered in 1.04 - but I think we need to clarify this sooner

Are you suggesting that we centre guidance on it being a non-IATI identifier?

I could post in the modification forum in terms of a proposal around the extra `related-activity` code

[2014-04-16 12:36] Bjwebb commented on #79
How do we fix this in 1.04? We could change the description to "A globally unique identifier for this activity or organisation.", but I think this might be actively confusing in the activity standard. Alternatively, we could change the reference in the organisation schema (at https://github.com/IATI/IATI-Schemas/blob/version-1.04/iati-organisations-schema.xsd#L70) into its own element, with it's o

[2014-04-16 12:39] Bjwebb commented on #21
I note that David has  adjusted 1.0 to 1.01 https://github.com/IATI/IATI-Schemas/commit/818e4d46ce8d90f4e2cc3d206022ffcf3aea7399

[2014-04-16 12:44] Bjwebb commented on #21
I've changed the descriptions to be consistent, and created a forum post for the proposals that need to go through the upgrade progress. I think this issue is now resolved, or covered elsewhere.

[2014-04-16 12:44] #21 closed, assigned to nobody

[2014-04-16 12:52] Bjwebb commented on #74
a) In my mind, for a definition, "The target URL of the external document" says what we need it to. We say the URL of the document, not some URL of something that links to the document. Clarification of this may be useful, but should be in the Extra-Documentation.

b) I've changed the URL in the schema to what Steven suggested.

[2014-04-16 12:55] Bjwebb commented on #73
More general namedropping issue: https://github.com/IATI/IATI-Extra-Documentation/issues/1

[2014-04-16 12:56] Bjwebb commented on #73
I've implemented your suggestion.

[2014-04-16 12:56] #73 closed, assigned to nobody

[2014-04-16 13:06] bill-anderson commented on #79
I would change the description - but a bit more than you have. Say something like "not to be confused with ..."

[2014-04-16 13:20] Bjwebb commented on #79
Oops, ignore my above comment, I'd missed @caprenter's proposal, which I agree with. @bill-anderson Not sure what you're suggesting, @caprenter's "not to be confused" is referencing the two usages mentioned earlier in the sentence.

[2014-04-16 13:25] Bjwebb commented on #74
I've split out the documentation issue to https://github.com/IATI/IATI-Extra-Documentation/issues/81

[2014-04-16 13:25] #74 closed, assigned to nobody

[2014-04-16 13:49] bill-anderson commented on #79
What I meant was ...
I think in 2.01 we should change the organisation's element name,
In 1.04 we should just point out in the description that there is a danger of confusion

[2014-04-16 15:31] stevieflow opened #85 "sector - link to codelist"
The description for sector in the schema:

This link is not correct - (should be /Sector) - but would be better to tidy this up

[2014-04-16 15:43] stevieflow opened #86 "defaults - ordering"
In the schema (as observed at http://dev.iatistandard.org/activities-standard/)

we have

default-finance-type
default-flow-type
default-aid-type
default-tied-status

Within a `transaction` we then have:

flow-type
aid-type
finance-type
tied-status

It would be preferable to have the two aligned in terms of ordering.

[2014-04-16 15:44] Bjwebb commented on #79
Okay, thanks for the clarification. I've used David's proposed description, which is now visible at http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/iati-identifier/ and http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/iati-identifier/

[2014-04-16 15:44] #79 closed, assigned to bill-anderson

[2014-04-16 16:11] Bjwebb commented on #41
Currently the plan is to make the codelist changes as part of the 1.05 upgrade process, so it's just the description that needs changing for 1.04.

[2014-04-16 17:39] stevieflow opened #87 "Project or Activity?"
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/contact-info/

Schema says

project should be activity

[2014-04-17 08:43] Bjwebb commented on #85
The link is fine. It's based on the current URLs which are fine, but the redirect is broken atm, which I will fix. The longer term solution to this is removing the codelist urls from the schema, as we have the mapping file. However, we decided to not do this in 1.04 https://github.com/IATI/IATI-Schemas/pull/57

Is there any other tidy up you want to do, or is this issue fixed once I fix the redire

[2014-04-17 09:01] Bjwebb commented on #85
The redirect on the dev website has been fixed now.

[2014-04-17 11:30] Bjwebb commented on #72
@bill-anderson Could you confirm that this text is still correct, and that it makes sense to include it in the schema for 1.04.

[2014-04-17 11:43] Bjwebb opened #88 "point element does not allow inclusion of other namespaced elements"
This is inconsistent with how most of our other elements work.

xsd:choice is missing

[code]

[2014-04-17 11:54] Bjwebb opened #89 "location/@ref deprecated ?"
location/@ref is listed as deprecated:
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/location/
https://github.com/IATI/IATI-Schemas/blob/e99f96f1eb458884bc4b292b7e8caaa9fcb73a95/iati-activities-schema.xsd#L1184

However, this appears to be new in 1.04, and neither [the forum post](http://support.iatistandard.org/entries/30851856-Changes-to-Location-Element) or [Bill

[2014-04-17 11:58] caprenter commented on #89
Looks like a bug - the trail you point to would show this to be the case.

Fixing will just be a case of removing the 'Deprecated in 1.04' text.

[2014-04-17 12:02] #89 closed, assigned to caprenter

[2014-04-17 12:15] bill-anderson commented on #87
Agree

[2014-04-17 12:18] bill-anderson commented on #86
Agree, in which case they should be logically ordered as

flow
finance
aid
tied

[2014-04-17 12:30] bill-anderson commented on #83
Agree that in 1.05 we add a related-activity code which defines an id for the same activity published by someone else

For now can we just leave out the sentence  "To cross-reference these reports ..."?

[2014-04-17 12:36] bill-anderson commented on #82
From TAG - Clarifying Confusions
Budget
- The aim of the budget element is to provide forward looking data for planning purposes
- Annual or quarterly breakdowns of the total budget for the lifetime of the activity
- Budgets spanning periods greater than one year are invalid
- Changes to budgets should involvement replacement of data, not delta changes.

Planned Disbursement
- A further breakdown

[2014-04-17 12:41] bill-anderson commented on #78
The recipient-country-budget element allows for the reporting of forward looking budgets for each country in which the organisation operates. The recommendation is that, where and when possible, the organisation’s total annual planned budget for each of the next three financial years is reported for each recipient country. It is strongly recommended that the start and end of the reported financial

[2014-04-17 12:44] bill-anderson commented on #77
The recipient-org-budget element allows for the reporting of forward looking budgets for each institution (e.g. multiliateral, INGO, foundation) which receives core funding from a donor. The recommendation is that, where and when possible, the donor’s annual planned budget for each of the next three financial years is reported for each recipient institution.

(NB ... for each of the next three fin

[2014-04-17 12:45] bill-anderson commented on #76
The total-budget element allows for the reporting of the organisation’s own budget. The recommendation is that, where and when possible, the organisation’s total annual planned budget for each of the next three years is reported.

[2014-04-17 12:46] bill-anderson commented on #72
Yes

[2014-04-17 12:47] bill-anderson commented on #49
On our last call we agreed to go with point

[2014-04-17 12:53] bill-anderson commented on #41
So we just need new examples with code="1" or "2"??

[2014-04-17 12:56] bill-anderson commented on #35
"The type of location (e.g. "PCL" for a political entity) from the feature designation codes maintained by the US National Geospatial-Intelligence Agency."

[2014-04-17 13:22] Bjwebb commented on #41
That's been done on the dev site http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/result/indicator/

Propose scrapping "e.g. unit, percentage, NDP." from the schema.

[2014-04-17 15:14] stevieflow commented on #83
Thanks

Have added to upgrades forum: http://support.iatistandard.org/entries/54201556-related-activity-new-code

@Bjwebb can you edit schema text?

[2014-04-17 15:17] stevieflow commented on #72
Would advise editing slightly

`iati-organisations`

For `iati-organisation`

[2014-04-17 15:33] Bjwebb commented on #49
We've discussed this further, and I think that Point would be better from a compatibility point of view.

XML is case sensitive, so the distinction between point and Point does matter if we want people to be able to take the XML element, and feed it directly into something that understands GML. We've decided to use the same markup as GML, going as far as to add a [srsName attribute that only ever

[2014-04-17 15:41] caprenter commented on #49
We also discussed the option of including the GML elements as a namespace.

It seems to me that using the gml: namespace is an option here. (Just as it is used in the wikipedia example Owen references in the forum post (http://support.iatistandard.org/entries/30339187-New-Location-Point-element) about this: http://en.wikipedia.org/wiki/Geography_Markup_Language#Point_Profile).

But I also understa

[2014-04-17 15:48] Bjwebb commented on #72
`iati-organisations` looks good.

For `iati-organisation` - I think that these definitions should be for XML elements, which encapsulate information (rather than XML tags which indicate the start/end). Therefore I would suggest keeping the description as it is:

This is consistent with how we describe `iati-activity` http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/

[2014-04-17 15:55] owenscott commented on #49
My vote would be against using the gml: namespace explicitly based on two things. (1) @davidmegginson recommended in favour of markup emulation without namespacing, and i tend to take his word over my own on XML stuff. (2) We've already seen some confusion, in this forum post (http://support.iatistandard.org/entries/30339187-New-Location-Point-element) about changes to the gml syntax that aren't b

[2014-04-17 16:01] owenscott commented on #49
Also, @Bjwebb , just to share an opinion on srsName, I think that's actually the most meaningful thing we've done here. Even though it only ever has one value, it eliminates a tonne of ambiguity.

In 2010 in Malawi I spent time working with a consultant doing a comparitve evaluation of two rural water supply mapping exercises which took place 5 years apart. Both used projected coordinate systems u

[2014-04-17 16:11] Bjwebb opened #90 "Use pos instead of coordinates"
http://support.iatistandard.org/entries/30339187-New-Location-Point-element#view-post-25482126

[2014-04-17 16:15] Bjwebb commented on #49
@owenscott I definitely agree that explicitly defining the spatial reference system is an important thing to do. My thinking was that if we were not using (a subset) GML, it could just as easily be defined in the text of the standard, rather than in the data files. However, I can understand that in practice people using the data will be looking at the data more closely than they are at the text of

[2014-04-17 16:19] bill-anderson commented on #49
My (non-xml) take is
- Namespace is not a good idea for a piece of data that is fundamental to our own standard
- "Point"  rather than "point" will create errors and confusion among the majority non-cognoscenti
- We should say that our version is derived from (rather than based on, or compatible to) gml

[2014-04-17 16:26] davidmegginson commented on #49
@owenscott wrote _"@davidmegginson recommended in favour of markup emulation without namespacing"_

I don't remember that recommendation, but then again, I don't remember a lot of the things I say.  Our general approach with IATI has been to use namespaces for extensions only, though, so I do think that what @owenscott and @bill-anderson said about not using a namespace makes sense.

As for "Point

[2014-04-17 16:51] stevieflow commented on #72
Agree

I ve put the more verbose text into this overview page: https://github.com/IATI/IATI-Extra-Documentation/commit/5bca6e5a663a4cc2459c2472ebb70b2b7cc4bb49

[2014-04-17 19:48] stevieflow opened #91 "result - schema text"
result:

We might want to expand/edit this?

[2014-04-18 09:21] stevieflow opened #92 "activity-website - different languages"
The `activity-website` description states:

However, there is no `xml:lang` or `language` attribute, etc - so it is unclear as to how to declare a website for an activity in multiple languages (which is a legitimate use case)

[2014-04-22 10:45] #41 closed, assigned to Bjwebb

[2014-04-22 10:56] Bjwebb commented on #87
I've fixed this, but noticed other similar usages in the activities schema:
`activity-status` - "The current status of the project"
`budget` - "The value of the aid activity's budget for each financial year as in the original project document."
`collaboration-type` - "The type of collaboration involved in the project's disbursements, e.g. "bilateral" or "multilateral"."

And in the organisations s

[2014-04-22 10:59] #86 closed, assigned to Bjwebb

[2014-04-22 11:02] #83 closed, assigned to Bjwebb

[2014-04-22 13:54] Bjwebb commented on #29
They will be licensed under CC-BY 4.0 like the rest of the standard.

[2014-04-22 13:54] #29 closed, assigned to nobody

[2014-04-22 15:59] stevieflow opened #93 "Registry Record schema"
http://dev.iatistandard.org/schema/downloads/iati-registry-record-schema.xsd

This isnt documented elsewhere (in the same way the activity/org/common xsd are).  Do we leave it this way - and/or even mark as depreciated in 2.01 ?

[2014-04-23 07:13] stevieflow commented on #87
Yes, I think so

Re: `contact-info` needs checking:

[2014-04-23 12:53] #90 closed, assigned to Bjwebb

[2014-04-23 12:54] Bjwebb opened #94 "Explain that point/pos is based on a subset of GML"

[2014-04-23 16:34] bill-anderson commented on #68
NB. That http://iati.titanpad.com/72 deals with activity standard. Needs to be applied to organisation standard as well

[2014-04-23 18:06] bill-anderson opened #95 "Implement 2.01: "6. Improvements to Organisation Standard""
http://support.iatistandard.org/entries/57427467-Version-2-01-Iteration-1-6-Improvements-to-the-Organisation-Standard

In order for organisation-level documents to be classified by country it is proposed to:
- Create a document-link/recipient-country element
- To inherit properties from iati-activity/recipient-country

NB. New element `<budget-line>`
- For use as a sub-element in reporting budget

[2014-04-23 18:39] Bjwebb commented on #75
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/document-link/

Now contains the line:

[2014-04-23 18:39] #75 closed, assigned to Bjwebb

[2014-04-23 19:17] Bjwebb commented on #93
I think we leave it as is for 1.04, but I'm not sure what the long term plan for it is. @bill-anderson Thoughts?

[2014-04-24 09:59] #94 closed, assigned to Bjwebb

[2014-04-24 14:02] #35 closed, assigned to caprenter

[2014-04-24 14:08] caprenter commented on #63
I believe we need to deal with these via redirects, so:
http://iatistandard.org/codelists/crs-repayment-type
should go to:
http://dev.iatistandard.org/codelists/LoanRepaymentType/
and
http://iatistandard.org/codelists/repayment-nopa
should go to:
http://dev.iatistandard.org/codelists/LoanRepaymentPeriod/

@Bjwebb - do you agree. can you set up re-directs if so?

[2014-04-24 14:29] caprenter commented on #62
I'm bumping this out of the 1.04 milestone as:

1) It may take time to agree a new description.
2) `@code` should be the value to pay attention to, and not any text information supplied, so maybe the description should reflect that.
3) It's not clear that the text should NOT be a language code (it could be)

So I think the issue should stay, but it is not crucial to have it fixed in 1.04

[2014-04-24 14:32] caprenter commented on #25
I think we can do this, and make sure the changes are in the 1.03 files when 1.04 goes live.

This will mean that the current version of 1.03 is not the same as the one tagged as v1.03 release in the repository. We should notify people that the change has been made on the 1.03 branch.

[2014-04-24 15:04] caprenter commented on #80
I think this can be bumped to after 1.04 is released. The list still exists, and we have further discussion/plans for removing other URLs from the schema.

[2014-04-24 15:10] #76 closed, assigned to stevieflow

[2014-04-24 15:14] #78 closed, assigned to stevieflow

[2014-04-24 15:16] Bjwebb commented on #80
I think in this case it might be worth looking at for 1.04 because the schema says values should be on the codelist, when this is no longer true. At the very least we need to male sure there's an appropriate message on the organisation codelist page in 1.04

[2014-04-24 15:40] stevieflow opened #96 "location - administrative - level"
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/location/administrative/

The "etc" doesn't seem quite right/precise....

@bill-anderson

[2014-04-24 15:53] bill-anderson commented on #96
... Level 2 is the second-level administrative subdivision, level n is the nth-level...

Or

One man went to mow, etc

Sent from my iPhone

On 24 Apr 2014, at 16:40, "Steven Flower" <notifications@github.com<mailto:notifications@github.com>> wrote:

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/location/administrative/

An integer indicating the hierarchical level b

[2014-04-25 15:34] Bjwebb commented on #63
Yes, this sounds like an appropriate solution. I'll set up the redirects.

Longer term, I would suggest the urls should be changed, but we're planning on removing them anyway.

[2014-04-25 16:23] Bjwebb commented on #63
http://dev.iatistandard.org/codelists/crs-repayment-type and http://dev.iatistandard.org/codelists/repayment-nopa now redirect correctly.

[2014-04-25 16:23] #63 closed, assigned to Bjwebb

[2014-04-28 15:14] Bjwebb commented on #25
I've cherry picked the commit to the `version-1.03` branch.

Still to be done:
- [x] Update http://iatistandard.org/downloads/CHANGES.txt and http://iatistandard.org/downloads/1.03/CHANGES.txt
- [x] Notify the technical list

[2014-04-29 12:26] bill-anderson commented on #49
So you want the rank outsider amateur to make the call ...

Lower case

[2014-04-29 14:09] #49 closed, assigned to caprenter

[2014-04-29 14:18] caprenter commented on #87
Moved to After 1.04 milestone as we need clarification on the issues raised by @Bjwebb above.

[2014-04-29 14:28] stevieflow opened #97 "link to Org guidance"
These schema descriptions need to link to Org ID guidance:

`iati-identifier`:
- [ ] http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/iati-identifier/
- [ ] http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/iati-identifier/

`reporting-org`:
- [ ] http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation

[2014-04-29 14:35] Bjwebb commented on #80
Following discussion with @caprenter on Skype, I have removed the text referencing the organisation codelist.

[2014-04-29 14:35] #80 closed, assigned to Bjwebb

[2014-04-29 14:44] caprenter commented on #97
I think we need to think about this.

One option might be to include the link in Extra Documentation rather than in the schema definition.

There is talk about removing some URLs from the schema.

I don't think this is necessary for the 1.04 milestone, but should be resolved soon afterwards, so bumping to After 1.04 milestone.

[2014-04-29 14:47] bill-anderson commented on #97
I would stick to validation / rule set descriptions in the schema and link to Extra Documentation for a full explanation and guidance

[2014-04-29 15:38] #88 closed, assigned to caprenter

[2014-04-29 15:40] Bjwebb commented on #72
I think the inclusion of that text in the Overview page resolves this issue.

[2014-04-29 15:40] #72 closed, assigned to stevieflow

[2014-04-29 16:00] caprenter commented on #50
These should also be added to travis:
https://github.com/IATI/IATI-Schemas/issues/56

[2014-04-29 17:16] bill-anderson opened #100 "2.01 - version stated in both iati-activities and iati-activity"
Do we need both?

For storing activity blobs in datastore seems to make sense to have it on each activity. (We've discussed this somewhere before, haven't we?)

[2014-04-29 17:21] bill-anderson opened #101 "2.01 - validating @version"
@version must now be mandatory and valid. How do we validate? Code list?

[2014-04-29 17:29] bill-anderson opened #102 "2.01 - iati-activity/@last-updated-datetime"
Do we need this to be mandatory.

I think so.

[2014-04-29 17:35] bill-anderson opened #103 "2.01 - iati-activity/@xml:lang"
This will now become standard (along with current definition) for all narrative elements. But here it refers to the default language to be used throughout the activity. Should it therefore be called default-language?

[2014-04-29 20:15] stevieflow opened #104 "OrganisationType - missing from provider and receiver org"
The `OrganisationType` is not an attribute for `provider-org` and `receiver-org` , yet it is for other organisation type elements.

Is there a design reason for this @bill-anderson ?

[2014-04-30 07:50] bill-anderson commented on #104
The thinking was that participating-org describes all organisations involved. provider-org is describing a bank account (cf note on recipient and receiver)

I'm happy for this to be reconsidered in 1.05 consultation if anyone feels passionate about it.

[2014-04-30 07:56] stevieflow commented on #104
moving to post 1.04 - most probably create a forum post to discuss

[2014-04-30 09:09] Bjwebb commented on #100
This was discussed on GitHub at https://github.com/IATI/IATI-Schemas/issues/30 and following that discussion, I added a proposal to the Upgrades forum http://support.iatistandard.org/entries/50761977--version-should-be-consistent

Also adding a link, so I can find it later, to your separate issue for making `@version` mandatory https://github.com/IATI/IATI-Schemas/issues/101

[2014-04-30 09:33] bill-anderson commented on #100
Definitely think we should add this to 2.01

I would rather create a new topic as @bjwebb your post is a tad confusing ...

"iati-activities/@version is required if iati-activity/@version is given" - suggests that it is not required if iati-activity/@version is not given

Suggest that both are mandatory and must be a valid version, not just a decimal

[2014-04-30 10:04] Bjwebb commented on #102
In order to have it be usefully mandatory, we also need to ensure it gets used properly - ie. that it is updated each time the data is updated, and is not in the future (see http://data.tickets.iatistandard.org/ticket/107 for the current data issue).

[2014-04-30 10:11] Bjwebb commented on #101
A code list is probably the way to do this. I think makes sense for it to be a NonEmbedded list, since it would refer to multiple versions of the standard. (Unless you wanted a list specific to e.g. 2.01 on which the only value was `2.01`.)

Am I correct in thinking that the current list would be:
- 1.01
- 1.02
- 1.03

With 1.05/2.01 added when they are released?

[2014-04-30 10:13] Bjwebb commented on #100
"suggests that it is not required if iati-activity/@version is not given" - that is what I was proposing. Since your proposal is slightly different a new topic makes sense.

To be clear, I agree with making it mandatory, but that hadn't been suggested when I wrote my previous proposal.

[2014-04-30 10:52] bill-anderson commented on #101
Yes, and the list could serve a dual purpose in linking to upgrade notes?

[2014-04-30 10:56] bill-anderson commented on #100
your suggestion is that it is okay for no version to be present?

I disagree. Up until now it has not been critical as everything is in theory compatible. Once we go to 2.01 this is a critical piece of data for users.

[2014-04-30 11:01] Bjwebb commented on #101
Yes.

[2014-04-30 12:14] Bjwebb commented on #100
Yes, you're quite right - I think my original proposal was trying to state as few constraints as possible to satisfy my specific use case. Additionally, we already state that `iati-activity/@version` is required if a later version than 1.0/1.01. (In practice most publishers don't use this, and use `iati-activities/@version` instead, which only had the "required if" text added in 1.04 https://githu

[2014-04-30 12:32] Bjwebb opened #105 "How should publishers report their own sector codelist?"

[2014-04-30 13:31] bill-anderson commented on #105
1. sector/@vocabulary-url (lots of repetition)
2. iati-activities/sector-vocabulary-url (but then not available in activity blobs)
3. In a new reference section in the organisation file

?????

[2014-04-30 13:33] bill-anderson commented on #100
Agree with your proposal. I'm going to add it to http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous

[2014-05-01 10:31] caprenter opened #107 "documentation on how to follow schema branches"
I don't think we have any guidance about how to follow schema version branches.

We should eb saying something along the lines of official releases are tagged as releases, but that bug fixes (?) may be added after that - people can download tagged releases via the iatistandard site (? or follow the schema on github?)

[2014-05-01 10:32] Bjwebb commented on #107
The closest thing to this atm is http://dev.iatistandard.org/developer/ssot/#finding-a-specific-version-of-the-ssot

[2014-05-02 08:26] stevieflow opened #108 "Order of location sub-elements"
Is there a reason for the order to be as such:

location-reach
location-id
location-type
name
description
activity-description
administrative
point
exactness
location-class
feature-designation
coordinates
gazetteer-entry

If location-type is deprecated - would it make sense to have this at the footer of the list too?

It's also unclear as to the status of name/description: https://github.com/IATI/

[2014-05-02 08:30] bill-anderson commented on #108
location-id
name
description
activity-description
administrative
point
exactness
location-reach
location-class
feature-designation

coordinates
gazetteer-entry
location-type

[2014-05-02 08:49] stevieflow commented on #108
Updated: https://github.com/IATI/IATI-Extra-Documentation/commit/fec41af21e1961a3d6bea44f412226d373b4ecfe

Over to @Bjwebb for schema order change

[2014-05-02 11:09] #108 closed, assigned to Bjwebb

[2014-05-06 09:11] caprenter commented on #25
Tasks above done.
CHANGES.txt is altered here only:
http://iatistandard.org/downloads/1.03/CHANGES.txt
(by using a copy of: https://github.com/IATI/IATI-Schemas/blob/version-1.03/CHANGES.txt

Notification is written into the announcement email which will accompany launch of 1.04

[2014-05-06 09:11] #25 closed, assigned to caprenter

[2014-05-07 12:19] Bjwebb commented on #83
@bill-anderson Just to note that, in the Annual Report, `other-identifier` is referred to as "Other IATI Identifier"

[2014-05-07 12:20] bill-anderson commented on #83
Noted - where do we log this to remember to change ...

[2014-05-07 13:07] stevieflow commented on #83
@bill-anderson : http://support.iatistandard.org/entries/54201556-related-activity-new-code

[2014-05-08 15:01] caprenter commented on #96
Perhaps we could illustrate this with a better example:
http://iatistandard.org/activity-standard/iati-activities/iati-activity/location/administrative/

[2014-05-08 15:39] stevieflow commented on #96
If the example is not right/relevant we can edit the Example XML and Extra Docs -

https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/activity-standard/activity-standard-example-1.04-annotated.xml

https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/activity-standard/iati-activities/iati-activity/location/administrative.rst

I would advocate doing the two toget

[2014-05-13 13:21] stevieflow commented on #97
@Bjwebb in 1.04 - did this get resolved via all URLs for this being changed to  http://iatistandard.org/org-ref ?

[2014-05-13 15:51] Bjwebb opened #109 "Implement 2.01 "Tightening up on version""
http://support.iatistandard.org/entries/57866638-Tightening-up-on-version
http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous/
http://support.iatistandard.org/entries/77311697-Version-2-01-Iteration-2-8-Miscellaneous

Previous discussion on GitHub: https://github.com/IATI/IATI-Schemas/issues/100
- [x] iati-activities/@version is MANDATORY
- ~~[x] iati-activity

[2014-05-13 15:54] Bjwebb opened #110 "Implement 2.01 "8. Miscellaneous""
Upgrades forum links:
- [Iteration 1](http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous)
- [Iteration 2](http://support.iatistandard.org/entries/77311697-Version-2-01-Iteration-2-8-Miscellaneous)

Each of the miscellaneous proposals has it's own GitHub issue:
- [Combined usage of recipient-country and recipient-region](https://github.com/IATI/IATI-Schemas/is

[2014-05-14 15:04] Bjwebb commented on #97
No, I only _removed_ the URLs suggesting codes should be on the organisation identifiers "codelist"

[2014-06-05 08:06] stevieflow opened #111 "document-link/category"
In line with https://github.com/IATI/IATI-Extra-Documentation/issues/147 it may be worth adding to the schema description that multiple category elements are permissible ?

[2014-06-09 15:03] Bjwebb commented on #68
For anyone following this github issue who doesn't have access to the IATI Titanpads, the above link contains the list of elements that nows appears in the proposal at http://support.iatistandard.org/entries/56804973-Version-2-01-Iteration-1-4-Multi-lingual-text-fields

[2014-06-09 15:29] Bjwebb commented on #70
http://support.iatistandard.org/entries/57969126-Version-2-01-Iteration-1-7-Replicate-more-activity-level-elements-at-transaction-level
- [x] If any of these elements is used at transaction level, they must not be used at activity level

[2014-06-09 15:34] bill-anderson commented on #70
Noted and added.

[2014-06-11 10:08] caprenter commented on #64
Missed one change on this - the <name> element inside the codelist xml needs to also chnage to Geographic Exactness:
https://github.com/IATI/IATI-Codelists/blob/version-1.04/xml/GeographicExactness.xml

[2014-06-11 14:28] Bjwebb opened #112 "Review all uses of mixed="true""
I think we should remove all these. Mixed data is more difficult for data users and it is not currently used by publishers. Removing all mixed data types would help enforce which elements should not contain text.

[2014-06-12 15:29] Bjwebb commented on #68
We created a list of elements we are removing text from, or changing the way multilingual text is done, and noted why they have an `xml:lang` attribute.
https://docs.google.com/spreadsheets/d/1mIcyBAkeOxUbU_EOK4vQI3uUnMIdI500TqlXVYhQtAM/edit#gid=0

We also plan to make all elements `mixed="false"`. https://github.com/IATI/IATI-Schemas/issues/112 (although what we will actually do is remove `mixed=

[2014-06-12 15:43] Bjwebb commented on #68
Outstanding questions/tasks:
- [x] `policy-marker` is currently planned to have text removed, but we're not sure whether this is correct, because like sector it can have a Reporting Org defined vocabulary.
- [x] Remove all `mixed="true"` https://github.com/IATI/IATI-Schemas/issues/112
- [x] Update schema tests to support changes https://github.com/IATI/IATI-Schemas/pull/120

[2014-06-16 13:36] caprenter commented on #66
re: `reporting-org/@ref` - this is already set as required in the iati-common.xsd - it may not need to be included in a ruleset - although I think you are checking to see if this exists as a way of also verifying that reporting-org exists

[2014-06-16 14:44] Bjwebb commented on #100
Closing this issue, because the proposal has been added to the forum, and there's a new issue for implementing these changes https://github.com/IATI/IATI-Schemas/issues/109

[2014-06-16 14:44] #100 closed, assigned to nobody

[2014-06-16 14:56] Bjwebb commented on #102
I think we discussed this on a call, and agreed that it is not useful for us to make this mandatory at the moment, as we'd need our own mechanism to check it anyway. Therefore, I'm closing this issue.

[2014-06-16 14:56] #102 closed, assigned to nobody

[2014-06-16 14:57] Bjwebb commented on #27
We're currently planning to change the schema such that no elements are mixed -https://github.com/IATI/IATI-Schemas/issues/112 - which would also fix this issue.

[2014-06-16 15:06] Bjwebb commented on #103
No, I don't think so. Whilst I can see the appeal of `default-language` for consistency with `default-currency` etc., I think our current use of `@xml:lang` is correct, as that's how XML standards people use it. `@xml:lang` is the language of an XML element (unless overridden) so when applied to `iati-activity` it acts as the default language.

To make it clearer what `@xml:lang` means on differen

[2014-06-16 15:06] #103 closed, assigned to Bjwebb

[2014-06-16 15:08] Bjwebb commented on #92
@bill-anderson Does this need changing?

[2014-06-16 15:15] Bjwebb commented on #105
I like `sector/@vocabulary-url` because it would be available in activity blobs. There's also the option of having `iati-activity/@sector-vocabulary-url`. I think `sector-vocabulary-url` is a bit problematic, because it doesn't make it clear that it applies only to RO (99) sectors.

A problem I can see with `sector/@vocabulary-url`, besides the repetition, is that people might think they can have

[2014-06-16 15:36] Bjwebb commented on #64
https://github.com/IATI/IATI-Codelists/commit/c34e7eff93492df79115f7a84e47c932634183fe

[2014-06-16 15:36] #64 closed, assigned to Bjwebb

[2014-06-16 16:34] bill-anderson commented on #92
Yes

[2014-06-16 16:58] stevieflow commented on #92
@bill-anderson what does `activity-website` do/bring over and a `document-link` that is of format text/html (and can also have a category)?

[2014-06-19 10:28] #101 closed, assigned to nobody

[2014-06-19 10:29] Bjwebb commented on #101
For a wider issue around 2.01 changes to `@version` see https://github.com/IATI/IATI-Schemas/issues/109

[2014-06-19 11:24] Bjwebb commented on #69
An organisation standard section has been added on the Knowledge Base - http://support.iatistandard.org/entries/57427467-Version-2-01-Iteration-1-6-Improvements-to-the-Organisation-Standard - this includes adding recipient-country to document-link and budget lines. Budget lines are proposed as a an alternative to sectoral budgets. There is a new GitHub issues for implementing these changes https:/

[2014-06-19 11:24] #69 closed, assigned to bill-anderson

[2014-06-23 16:55] Bjwebb opened #114 "Implement 2.01 "Delete previously deprecated items""
http://support.iatistandard.org/entries/78002476-Delete-previously-deprecated-items

[2014-06-24 08:30] Bjwebb commented on #70
In order to include appropriate descriptions, these transaction level elements are now defined explicitly instead of by reference.

[2014-06-24 08:41] Bjwebb commented on #109
Note that the type of the `@version` attribute is now `xsd:string` instead of `xsd:decimal` because it is not meaningfully a decimal, since the codelist must be matched exactly. (e.g. 2.01 and 2.010 are not equivalent).

[2014-06-24 09:44] Bjwebb opened #115 "Additional Activity Standard changes from Bill's table"
(some changes from the table have been implemented as their own commits linked to the relevant specific issues)

https://docs.google.com/spreadsheets/d/1iHqYHqtuY-sfafEMRGw3nODjVY4BjutYsm0iFRYNJck/edit#gid=1246587534

This is mostly changes to descriptions, but also includes changes to whether attributes are mandatory. Some of these are for very general reasons, e.g. because an element can only be

[2014-06-24 09:47] Bjwebb opened #116 "Linked data attributes should be of type xsd:anyURI"

[2014-06-24 09:55] Bjwebb opened #117 "Implement 2.01 "Align planned-disbursement with budget""
http://support.iatistandard.org/entries/77495498-Align-planned-disbursement-with-budget

[2014-06-24 10:05] Bjwebb opened #118 "Implement 2.01 "Redefine activity-website as a document-link""
http://support.iatistandard.org/entries/76684383-Redefine-activity-website-as-a-document-link

To implement this we need to:
- [x] Remove activity-website element
- [x] Add new codes to the document category codelist

[2014-06-24 10:13] Bjwebb commented on #92
As part of 2.01 we're planning on redefining activity websites using document-link https://github.com/IATI/IATI-Schemas/issues/118

[2014-06-24 10:13] #92 closed, assigned to bill-anderson

[2014-06-24 13:08] caprenter opened #119 "Typo in definition"
Participating org typo:
https://github.com/IATI/IATI-Schemas/blob/version-2.01/iati-activities-schema.xsd#L1869

[2014-06-24 15:50] stevieflow opened #121 "budget: multiple values and periods are valid"
Take a look at this file:

http://www.afdb.org/fileadmin/uploads/afdb/Documents/Generic-Documents/IATIOrganisationData.xml

In `recipient-country-budget` multiple `period-start` `period-end` and `value` are published:

[code]

This validates against the schema.

However, in practice this makes it difficult to understand which value applies to which period

[2014-06-24 15:56] stevieflow commented on #121
On further testing, this seems applicable to budget related elements in org and activity standard

[2014-06-24 17:39] Bjwebb commented on #121
Note that once we have [ordering in the schema](http://support.iatistandard.org/entries/76669023-Enforcing-Order-on-the-Activity-Schema), we should be able to enforce this in the 2.01 schema (ie. to make validation fail for the example you posted).

PS, on GitHub it's three backticks for a mutliline quote.

[2014-06-26 12:47] Bjwebb opened #122 "telephone and email should contain an xsd:string"
@caprenter's updating of the Schema tests https://github.com/IATI/IATI-Schemas/pull/120 has identified that the telephone and email elements are not currently allowed to contain any text, since mixed is no longer true. The elements should be updated to explicitly allow just text.

[2014-06-26 15:14] Bjwebb opened #123 "Implement 2.01 "Org: Create budget-line element""
http://support.iatistandard.org/entries/77259793-Org-Create-budget-line-element

[2014-06-26 15:15] Bjwebb commented on #27
Due to the changes in https://github.com/IATI/IATI-Schemas/issues/112 this issue has now been fixed in 2.01.

[2014-06-26 15:15] #27 closed, assigned to nobody

[2014-06-26 15:16] Bjwebb opened #124 "Implement 2.01 "Org: Add recipient-country to document-link""
http://support.iatistandard.org/entries/78420356-Org-Add-recipient-country-to-document-link

[2014-06-26 15:19] Bjwebb commented on #95
Updated proposal link for Iteration 2: http://support.iatistandard.org/entries/76652763-Version-2-01-Iteration-2-6-Improvements-to-the-Organisation-Standard

I've created 3 separate GitHub issues to track the implementation of the two parts of this proposal:
- [Adding recipient-country to document-link](https://github.com/IATI/IATI-Schemas/issues/124)
- [Creating budget line element](https://githu

[2014-06-26 15:27] Bjwebb opened #125 "Implement 2.01 "Org: Replace iati-identifier with organisation-identifier""
http://support.iatistandard.org/entries/78421626-Org-Replace-iati-identifier-with-organisation

[2014-06-26 15:56] Bjwebb opened #126 "Additional Organisation Standard changes from Bill's table"
https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776

This is entirely changes to descriptions.

For changes to the Activity Standard from Bill's table see https://github.com/IATI/IATI-Schemas/issues/115

[2014-06-26 16:00] Bjwebb opened #127 "Update tests for 2.01 organisation standard"
(This has already been done for the activity standard https://github.com/IATI/IATI-Schemas/pull/120 )

[2014-06-26 16:01] Bjwebb opened #128 "Ensure full Schema tests coverage"
@caprenter has updated the activity tests to pass/fail correctly https://github.com/IATI/IATI-Schemas/pull/120, and there's an issue for doing this for the organisation tests https://github.com/IATI/IATI-Schemas/issues/127, but we should also add new tests for new elements etc.

[2014-06-26 16:46] #123 closed, assigned to nobody

[2014-06-26 16:46] #124 closed, assigned to nobody

[2014-06-26 16:46] #125 closed, assigned to nobody

[2014-06-26 16:48] #95 closed, assigned to nobody

[2014-06-26 16:50] #117 closed, assigned to nobody

[2014-06-26 16:51] #115 closed, assigned to nobody

[2014-06-26 16:51] #126 closed, assigned to nobody

[2014-06-26 16:59] Bjwebb commented on #91
Bill's proposed this be changed in 2.01 https://github.com/IATI/IATI-Schemas/blob/7b973e9b310b858e842a948bef7c89cd60e55e29/iati-activities-schema.xsd#L1677 to:

@stevieflow does that resolve this issue?

[2014-06-26 17:15] #116 closed, assigned to nobody

[2014-06-26 17:18] Bjwebb opened #129 "Implement 2.01 "Remove indicatorOutcomeType""
http://support.iatistandard.org/entries/77311697-Version-2-01-Iteration-2-8-Miscellaneous

This was done in this commit https://github.com/IATI/IATI-Schemas/commit/f299866b523d33b0321edfa7e223fbe5509f7119#commitcomment-6777103

[2014-06-26 17:18] #129 closed, assigned to nobody

[2014-06-26 17:19] Bjwebb opened #130 "Implement 2.01 "Allow multiple languages to be specified for a single document""
http://support.iatistandard.org/entries/77513977-Multiple-languages-per-document

[2014-06-26 17:19] Bjwebb opened #131 "Implement 2.01 "Addition to RelatedActivityType Codelist""

[2014-06-26 17:20] Bjwebb opened #132 "Implement 2.01 "Vocabulary Codelists""

[2014-06-26 17:20] Bjwebb opened #133 "Implement 2.01 "Date and DateTime formats""
http://support.iatistandard.org/entries/77542148-Date-and-DateTime-formats

[2014-06-26 17:35] #122 closed, assigned to Bjwebb

[2014-06-26 19:21] stevieflow commented on #91
Great, thanks.  I take it we will keep 1.0x as :

[2014-06-26 20:53] Bjwebb commented on #91
Yes

[2014-06-26 20:53] #91 closed, assigned to stevieflow

[2014-06-26 21:17] Bjwebb commented on #93
@bill-anderson Do we plan to do anything with the registry record schema in 2.01, or should this issue be moved into the future milestone?

[2014-06-26 21:18] Bjwebb commented on #105
@bill-anderson This change is currently in a 2.01 milestone, mostly because it's the nearest one. Is this is a change we are considering for 2.01, or should it go into one of the decimal processes?

[2014-06-26 21:22] Bjwebb commented on #38
@bill-anderson When do we plan to update the description? I fell like it's possibly slipped through the cracks since it is a code, rather than an XML element, which most of our description changes have been to.

Is there a need/plan to do a compreshensive review of code descriptions like you have done for XML elements?

[2014-06-26 21:22] #114 closed, assigned to nobody

[2014-06-26 21:26] Bjwebb commented on #131
Moving this issue to the codelists repository https://github.com/IATI/IATI-Codelists/issues/42

[2014-06-26 21:26] #131 closed, assigned to nobody

[2014-06-26 21:28] Bjwebb commented on #132
Moving this issue to the Codelists repository https://github.com/IATI/IATI-Codelists/issues/43

[2014-06-26 21:28] #132 closed, assigned to nobody

[2014-06-26 21:32] Bjwebb commented on #130
Since we don't yet enforce the number of times the language element can be used, this issue has been fixed by a change to the schema description https://github.com/IATI/IATI-Schemas/commit/7e368cd822ac927832b9a64a671bdae1643e34bb#diff-644a12e8a6ade95722e1f3adf60b7462R205

[2014-06-26 21:32] #130 closed, assigned to nobody

[2014-06-26 21:38] Bjwebb commented on #68
The following narrative elements have been added, which were missing from our previous list:
- policy-marker/narrative
- transaction/provider-org/narrative
- transaction/receiver-org/narrative
- transaction-date/narrative

[2014-06-26 21:46] Bjwebb commented on #70
Additionally, `@percentage` is not being replicated at transaction level.

For more information, see the [updated section 7 of the Iteration 2 proposal](http://support.iatistandard.org/entries/77287178-Version-2-01-Iteration-2-7-Replicate-more-activity-level-elements-at-transaction-level) and the [recent discussion about transaction/sector](http://support.iatistandard.org/entries/41583326-Add-tran

[2014-06-26 21:54] Bjwebb commented on #133
The relevant definitions in the schema here have been updated https://github.com/IATI/IATI-Schemas/commit/dae264e5fd490fe2b5b20e91409908b3674d8fc6, so the remaining task to to ensure that Extra Documentation / Guidance reflects this https://github.com/IATI/IATI-Extra-Documentation/issues/171.

[2014-06-26 21:55] #133 closed, assigned to nobody

[2014-06-26 21:55] bill-anderson commented on #38
Yes. You are right

[2014-06-26 21:59] bill-anderson commented on #105
Overlooked
I think we can add it in as it won't disrupt anything

[2014-06-27 11:17] Bjwebb commented on #66
@caprenter That's correct. It should probably be just `reporting-org` to avoid confusion. However, I think we'll be removing this rule from the rulesets anyway, as we plan to enforce it in the schema instead.

[2014-06-27 12:54] #119 closed, assigned to Bjwebb

[2014-06-30 14:50] #56 closed, assigned to caprenter

[2014-07-01 10:09] Bjwebb commented on #105
After discussing this on a call, we decided it was too late in the process to add this, and to put it into 2.02.

[2014-07-01 10:11] Bjwebb commented on #93
Discussed this on a call. We maybe should have removed this in 2.01, but it's too late in the process now, and it doesn't matter so much.

[2014-07-03 10:53] Bjwebb opened #135 "xs:postiveinteger on level attribute prevents valid value of 0"
Schema description says "Level 0 is the national boundary", but `xsd:positiveInteger` forbids 0. This should probably be `xsd:nonNegativeInteger` instead.

Additionally, in fixing this bug we should add appropriate tests to ensure 0 is a valid value.

[2014-07-03 13:40] Bjwebb commented on #111
This is a change that should be made in 2.01 if we want to make it.

We've not yet looked into enforcing occurrences of elements in the schema yet, but I note that Bill's table suggests that category should appear only once - https://docs.google.com/spreadsheets/d/1iHqYHqtuY-sfafEMRGw3nODjVY4BjutYsm0iFRYNJck/edit#gid=1246587534 - should this be implemented in 2.01 (as I will use this occur column

[2014-07-03 17:30] Bjwebb commented on #87
Moving this into 2.01, as I think it should be considered in light of the description changes we have already made for 2.01.

`contact-info`, `activity-status`, `budget` and `recipient-country-budget` have been updated to say "activity" instead of "project", but `collaboration-type` has not.

Should the description of `collaboration-type` also be altered?

[2014-07-03 17:35] Bjwebb commented on #82
`planned-disbursement` has a new description in 2.01:
https://github.com/IATI/IATI-Schemas/blob/bd94fa88d5bcbce53463bfcca36e5a0b603b1081/iati-activities-schema.xsd#L2011

Does this change resolve this issue, or is there more to do?

[2014-07-03 17:43] Bjwebb commented on #118
@bill-anderson What are the codes/names that should be added to the [DocumentCategory](http://iatistandard.org/codelists/DocumentCategory/) codelist?

[2014-07-03 17:48] Bjwebb commented on #30
This has been fixed in 2.01 by requiring both version attributes, and requiring that all versions in a file are the same:
http://support.iatistandard.org/entries/57866638-Tightening-up-on-version
https://github.com/IATI/IATI-Schemas/issues/109

[2014-07-03 17:48] #30 closed, assigned to nobody

[2014-07-03 17:50] bill-anderson commented on #118
A code
Activity web page
B codes
Organisation web page
Country/Region web page
Sector web page

[2014-07-03 17:51] Bjwebb commented on #54
This was done by Bill for 2.01:
https://github.com/IATI/IATI-Schemas/commit/7e368cd822ac927832b9a64a671bdae1643e34bb
https://github.com/IATI/IATI-Schemas/commit/dae264e5fd490fe2b5b20e91409908b3674d8fc6

[2014-07-03 17:51] #54 closed, assigned to stevieflow

[2014-07-03 17:54] Bjwebb commented on #48
This was done by Bill for 2.01:
https://github.com/IATI/IATI-Schemas/commit/7e368cd822ac927832b9a64a671bdae1643e34bb
https://github.com/IATI/IATI-Schemas/commit/dae264e5fd490fe2b5b20e91409908b3674d8fc6

[2014-07-03 17:54] #48 closed, assigned to nobody

[2014-07-03 17:55] Bjwebb commented on #118
Should I just use the next availible codes? e.g. A12, B11, B12 and B13?

[2014-07-03 17:56] bill-anderson commented on #118
yup

[2014-07-03 18:00] Bjwebb commented on #77
The description of `recipient-org-budget` has been changed in 2.01 https://github.com/IATI/IATI-Schemas/blob/cc62db20dc6cc04081977dee3c5f2cc30d0c951f/iati-organisations-schema.xsd#L252, but isn't the same as the description above.

@bill-anderson What's the intent here? Should the extra wording be added to the schema, or should it be incorporated into Extra-Docs/Guidance instead?

[2014-07-03 18:03] Bjwebb commented on #62
I think this has been rectified in 2.01 http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/document-link/language/

The description of the element still refers to the language code, but the only possible content of the element is now the `@code` attribute, which now has it's own description making clear that's where the ISO 639-1 code belongs.

[2014-07-03 18:03] #62 closed, assigned to nobody

[2014-07-03 18:05] Bjwebb commented on #104
Bumping this to 2.02 as 1.05 is codelist only, and it's too late for 2.01.

@stevieflow Could you create a forum post?

[2014-07-03 18:08] Bjwebb commented on #50
They've now been added to travis.

Do the 1.04 tests still need checking, or can this issue be closed?

[2014-07-03 18:16] bill-anderson commented on #77
2.01 should be as above

i.e.

The recipient-org-budget element allows for the reporting of forward looking budgets for each institution (multiliateral, INGO, foundation, etc) which receives core funding from a donor. The recommendation is that, where and when possible, the donor’s annual planned budget for each of the next three financial years is reported for each recipient institution.

[2014-07-03 18:55] Bjwebb commented on #118
Added: http://dev.iatistandard.org/201/codelists/DocumentCategory/

[2014-07-03 18:55] #118 closed, assigned to Bjwebb

[2014-07-03 19:05] stevieflow commented on #77
@bill-anderson with regards to the above description, it would suggest _not_ to use `recipient-org-budget` when publishing IATI further down the "chain" ?

[2014-07-03 19:13] stevieflow commented on #104
Done: http://support.iatistandard.org/entries/81683876-provider-receiver-og-adding-type

[2014-07-03 19:13] #104 closed, assigned to stevieflow

[2014-07-03 19:14] stevieflow commented on #82
For 2.01 it resolves it.

Question is whether we want to integrate anything into 1.04: http://iatistandard.org/activity-standard/iati-activities/iati-activity/planned-disbursement/

[2014-07-03 20:19] davidmegginson commented on #112
I've reviewing the v1.04 branch (let me know if it's the wrong one).  Here's what I've found:

**iati-common.xsd:**

I think we should keep mixed content in _description_ so that people can embed (e.g.) HTML5 markup for some use cases.  It's OK to remove from the other elements and content types in this file, as long as we still allow _xsd:anyAttribute_ for all of them (so that people can add attr

[2014-07-03 20:44] #135 closed, assigned to nobody

[2014-07-24 11:12] stevieflow opened #137 "location/administrative/@level - incorrect description text"
From @owenscott via: https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit#

This description is incorrect. Most ADM classifications do work this way, but OSM is a notable exception. (and the one that necessitated many of these changes in the first place).```

http://wiki.openstreetmap.org/wiki/Tag:boundary%3Dadministrative#10_admin_level_values_for_specific_countrie

[2014-07-29 12:31] Bjwebb opened #138 "Implement 2.01 "Enforcing Order on the Activity Schema""
http://support.iatistandard.org/entries/76669023-Enforcing-Order-on-the-Activity-Schema [old]

http://support.iatistandard.org/entries/52110419-Activity-Standard-Order-and-occurrence-of-elements
http://support.iatistandard.org/entries/52112469-Organisation-Standard-Order-and-occurrence-of-elements

[2014-07-29 12:39] caprenter commented on #109
We need to work out how to communicate:
All @version attributes in a given file MUST have the same value
to publishers.

We can't enforce via the schema or rulesets - so can only really give guidance - should this be in the schema or elsewhere?

[2014-07-29 15:28] Bjwebb opened #139 "Implement 2.01 "Multiple languages per document""
http://support.iatistandard.org/entries/77513977-Multiple-languages-per-document

[2014-07-29 15:30] Bjwebb commented on #139
Currently this is solely a description change, which was implemented in this commit https://github.com/IATI/IATI-Schemas/commit/7e368cd822ac927832b9a64a671bdae1643e34bb#diff-644a12e8a6ade95722e1f3adf60b7462R204

[2014-07-29 15:30] #139 closed, assigned to nobody

[2014-07-29 15:31] Bjwebb commented on #139
This is a duplicate of https://github.com/IATI/IATI-Schemas/issues/130

[2014-07-29 15:42] Bjwebb opened #140 "Implement 2.01 "Rename crs-add/aid-type-flag""
http://support.iatistandard.org/entries/29705458-Confusion-Between-Aid-Type-Flag-Type-of-Aid-

[2014-07-29 15:44] Bjwebb opened #141 "Implement 2.01 "Add contact-info/department""
http://support.iatistandard.org/entries/44571616-Organisational-unit-within-contact-details

[2014-07-29 15:56] Bjwebb opened #142 "Implement occur column for elements from Bill's table"
[Activity Standard Proposal Table](https://docs.google.com/spreadsheets/d/1iHqYHqtuY-sfafEMRGw3nODjVY4BjutYsm0iFRYNJck/edit#gid=1246587534)
[Organisation Standard Proposal Table](https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776)

These weren't added during Iteration 2 #115 #126 because they require element ordering to implement https://github.c

[2014-07-29 16:00] Bjwebb commented on #66
During the work on the Iteration 2 proposal, we decided we should introduce ordering https://github.com/IATI/IATI-Schemas/issues/138 in order to enforce mandatory elements in the schema. We therefore need to enumerate the new changes to the schema that are needed, and possibly also remove the relevant rules as redundant.

[2014-07-29 16:00] Bjwebb commented on #67
During the work on the Iteration 2 proposal, we decided we should introduce ordering https://github.com/IATI/IATI-Schemas/issues/138 in order to enforce mandatory elements in the schema. We therefore need to enumerate the new changes to the schema that are needed, and possibly also remove the relevant rules as redundant.

[2014-07-30 18:04] stevieflow opened #143 "location/@ref - unique?"
ref description:

Is this unique:
- across all of IATI data
- across the publishers IATI data
- within the specific `iati-activity`

For @bill-anderson

(Raised by @owenscott at https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit# )

[2014-07-31 09:22] caprenter commented on #140
Assigning to Bill, as decisions need to be made. The naming of the element is being challenged on the support forum. See: http://support.iatistandard.org/entries/29705458-Confusion-Between-Aid-Type-Flag-Type-of-Aid-

@bill-anderson when a decision is made you can re-assign to me.

[2014-07-31 09:30] caprenter commented on #71
The outstanding tasks in this issue seem to me to be related to documentation and guidance, - working out what needs to be written and where that single source of truth lies (within the schema or not for example).

Assigning to @bill-anderson to create the words - taking into account opinions on the support forum - links above.

[2014-07-31 09:37] Bjwebb commented on #111
@bill-anderson Should multiple category elements be permitted within a document-link ?

[2014-07-31 09:42] Bjwebb commented on #70
The outstanding issue here is implementing: https://github.com/IATI/IATI-Schemas/issues/70#issuecomment-45503856

This is problematic because this can not be enforced using the Schema, or the current Rulesets framework. The options are:

1) Modify the rulesets framework to allow this to be enforced. This is potentially over complex for this simple rule.
2) Create an independent test for this on th

[2014-07-31 09:44] caprenter commented on #70
Assigning to @bill-anderson  to make a decision.

[2014-07-31 11:07] stevieflow commented on #111
@Bjwebb they can currently (1.04) cant they?  I know @johnadamsdfid does this, for example - as some `document-link` genuinely fit into multiple `category`:

From : http://iati.dfid.gov.uk/iati_files/Country/DFID-Afghanistan-AF.xml

`<document-link url="http://iati.dfid.gov.uk/iati_documents/3606261.doc" format="application/msword">
<title>Logical framework 107171.doc</title>
<language code="en">E

[2014-07-31 11:11] johnadamsDFID commented on #111
Yes, we do this. As documents can cover multiple categories this needs to be possible. (Otherwise we get marked down by PWYF!)

It also makes sense as a Business Case can contain objectives, budgets, etc, or an Annual Review can contain impact appraisal and results.

[2014-07-31 12:18] caprenter opened #144 "Inconsistent description of recipient-region/@vocabulary"
In the schema, for recipient-region/@vocabulary we say:
"The vocabulary from which the region code is drawn. If it is not present 1 - ‘OECD DAC’ is assumed."
https://github.com/IATI/IATI-Schemas/blob/version-1.04/iati-activities-schema.xsd#L296

But on the region vocabulary codelist, 1 is named 'DAC'

@bill-anderson Is one of these more right that an the other? What needs to change please?

[2014-07-31 12:44] caprenter commented on #111
@bill-anderson As far as I can tell this change is not mentioned on the support forum for the 2.01 upgrade.
(http://support.iatistandard.org/forums/21753428-2-01-Integer-Upgrade-Proposals-Current )

[2014-07-31 13:01] Bjwebb commented on #111
No, I don't think it is. It's one of the changes that are in Bill's "Iteration 2 Proposal" spreadsheets, but have not yet been implemented, and are not yet on the forum, see https://github.com/IATI/IATI-Schemas/issues/142

[2014-08-11 11:59] bill-anderson commented on #144
In all formal descriptions we should always use "OECD DAC"

[2014-08-11 12:04] bill-anderson commented on #143
My take on this was that it was similar to transaction/@ref - i.e. it was for the publisher's own convenience and we had no opinion on its uniqueness.

[2014-08-11 12:08] bill-anderson commented on #140
I think we have consensus that we should rename crs-add/aid-type-flag but NOT what we should call it. I made a proposal which John Adams (correctly) disagreed with. @caprenter @Bjwebb let's discuss tomorrow

[2014-08-11 12:47] stevieflow commented on #143
@bill-anderson therefore, should the word unique be removed from the schema description?

[2014-08-11 13:36] bill-anderson commented on #143
Yes

[2014-08-11 13:54] stevieflow commented on #143
Assigned to @Bjwebb to update (in 1.05?)

[2014-08-11 14:06] bill-anderson commented on #70
We need a machine rule.
This is easier if we modify the rule slightly, by saying:
- If activity-level element exists then this overrides transaction-level
- If activity-level is not present then transaction-level is mandatory

[2014-08-11 14:30] bill-anderson commented on #137
"A number defining a subdivision within a hierarchical system of administrative areas. The precise system for defining the particular meaning of each @level value is determined by the @vocabulary being used"

[2014-08-11 14:40] stevieflow commented on #137
Thanks.

Will update the guidance note and also assign this to @Bjwebb to edit the schema description accordingly

[2014-08-11 14:42] bill-anderson commented on #111
I incorrectly marked this as (1..1) in the html table, It should be (1..*) and I'm pretty sure it has always been used like this - cf second example at http://iatistandard.org/activity-standard/iati-activities/iati-activity/document-link/category/

[2014-08-11 14:45] bill-anderson commented on #87
Yes. The schema should always refer to activity. General guidance should explain what we mean by activity

[2014-08-11 15:07] bill-anderson commented on #77
The distinction is between core funding and activity-earmarked funding

[2014-08-11 17:04] stevieflow commented on #77
So - this is _only_ to be used by donor type organisations (how do we qualify that?)?

Regardless - can we clarify if the description at

http://iatistandard.org/organisation-standard/iati-organisations/iati-organisation/recipient-org-budget/

is correct or not, as far as 1.04 goes?

[2014-08-12 07:00] #87 closed, assigned to Bjwebb

[2014-08-12 09:38] Bjwebb commented on #144
I've changed DAC to OECD DAC in that codelist and in a couple of other places. @bill-anderson Could you double check that these changes make sense: https://github.com/IATI/IATI-Codelists/commit/43d6663da2a20054aa14c3143168cf5fbd8104e3

Note that on the [SectorVocabulary codelist](http://dev.iatistandard.org/201/codelists/SectorVocabulary/) the acronym DAC is spelt out in full (OECD Development Ass

[2014-08-12 09:43] Bjwebb commented on #138
@bill-anderson I have some queries about this on the KnowledgeBase http://support.iatistandard.org/entries/76669023-Enforcing-Order-on-the-Activity-Schema?page=1#post_26150263

[2014-08-12 09:53] bill-anderson commented on #138
@bill-anderson to produce a table for the Knowledge Base listing all elements in order and the (Occurs) for each. Plus accompanying explanation.

[2014-08-12 10:03] bill-anderson commented on #144
"OECD DAC/CRS" should be replaced with "OECD DAC"

[2014-08-12 10:06] bill-anderson commented on #144
"OECD" and "DAC" should be in glossary and not spelt out in Schema

[2014-08-12 10:08] Bjwebb commented on #144
I've created a new issue for reviewing names/descriptions of codelists: https://github.com/IATI/IATI-Codelists/issues/45

[2014-08-12 10:08] #144 closed, assigned to bill-anderson

[2014-08-12 15:24] caprenter commented on #68
location/administrative is missing from the list on
http://support.iatistandard.org/entries/77309847-Version-2-01-Iteration-2-4-Multi-lingual-text-fields

[2014-08-12 15:38] caprenter commented on #70
@bill-anderson would you be able to reply to the comment on this post please:
http://support.iatistandard.org/entries/77287178-Version-2-01-Iteration-2-7-Replicate-more-activity-level-elements-at-transaction-level

[2014-08-12 16:31] caprenter commented on #140
We think we should go with the OP's original suggestion of Other Flags

[2014-08-12 16:40] Bjwebb commented on #140
To be consistent with our naming scheme, I assume this would make the codelist `OtherFlags` and the element name `other-flags`

[2014-08-12 16:51] caprenter opened #145 "Tied Status"
For a start we need to link this post
http://support.iatistandard.org/entries/55170393-Tied-and-partially-tied-values

 into the overview of 2.01
http://support.iatistandard.org/entries/76621773-Version-2-01-Formal-Proposal-Iteration-2-Overview

[2014-08-14 11:03] bill-anderson commented on #140
Is it bad to make the codelist name CRSAddOtherFlags? OtherFlags on its own is a bit otherish

[2014-08-14 16:56] stevieflow opened #146 "location / administrative - occurs"
From https://github.com/IATI/IATI-Extra-Documentation/issues/206

occurs should be 0..*

[2014-08-15 07:58] #85 closed, assigned to stevieflow

[2014-08-15 08:00] stevieflow commented on #107
Does this belong in this repository, or better in Guidance?

[2014-08-15 16:17] stevieflow opened #147 "2.01 - organisation schema - recipient-org-budget"
These doesn't seem a way to insert the name string for an organisation in 2.01 - which might be useful.

<narrative> isn't supported within this element...

[2014-08-18 09:23] Bjwebb commented on #140
No, I don't think that's bad. It's a good idea to reduce ambiguity, and the link between the element and the codelist is now handled by the mapping file, so the element and codelist name don't have to be exactly the same.

[2014-08-18 09:44] Bjwebb commented on #147
Does http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/recipient-org-budget/recipient-org/narrative/ not do what you want?

[2014-08-18 14:44] #140 closed, assigned to Bjwebb

[2014-08-18 15:19] #110 closed, assigned to Bjwebb

[2014-08-18 15:21] Bjwebb commented on #128
Also, we should ensure that language elements are on the correct elements, see https://github.com/IATI/IATI-Schemas/pull/148#issuecomment-52505120

[2014-08-18 15:37] Bjwebb commented on #127
The organisation tests now pass: https://github.com/IATI/IATI-Schemas/commit/9c71447c2fb7b64f3043b3372323264ec3694568

Closing this issue.

We also need to ensure the tests are correct, but there's a separate issue for this https://github.com/IATI/IATI-Schemas/issues/128

[2014-08-18 15:37] #127 closed, assigned to caprenter

[2014-08-18 15:48] Bjwebb commented on #67
- [x] Transaction should no longer be mandatory - http://support.iatistandard.org/entries/55997436#view-post-26238546

[2014-08-18 15:51] Bjwebb commented on #109
Following http://support.iatistandard.org/entries/57866638#view-post-26238806 we no longer need to enforce that all `@version` attributes in a file are the same, as there will be only `iati-activities/@version`.

We also now need to:
- [x] Remove `iati-activity/@version` and `iati-organisation/@version` from the schema

[2014-08-18 15:56] Bjwebb commented on #107
I think this is aimed at a technical audience, so it might go in the README in this repository, or it might go in the Developer Documentation. I'm not sure if it would go in the Guidance repository.

[2014-08-18 16:05] Bjwebb commented on #65
This is not in the 1.05 Upgrade, as 1.05 is now additions to codelists only.

[2014-08-19 08:55] caprenter commented on #109
Just seeking clarification. Are we actually removing the @version attribute from these elements, or just removing the requirement that they are mandatory (and leaving the attribute in place, but optional)?

[2014-08-19 08:58] bill-anderson commented on #109
Not sure what value an optional attribute is to users. I favour dropping

[2014-08-19 08:59] Bjwebb commented on #109
I'd agree, I think an optional attribute is actively unhelpful. It leads to potential confusion if people aren't consistent with their versions. Having @version on iati-activities only means we have a "single source of truth" for the version number of a file.

[2014-08-19 09:49] caprenter opened #150 "Change the version information in the schemas"
In the activity, common, organisation, and registry-record schemas, we need to make sure the version information is up to date.

This is both in the description and in the @version attribute

[2014-08-19 09:50] caprenter opened #151 "Update CHANGES.txt"
Make sure this file is updated to include all the 2.01 changes

[2014-08-19 09:55] caprenter commented on #82
@bill-anderson I think if we wanted to, we could probably make this change as part of 1.05. Is it a significant change or a clarification/bug fix?

[2014-08-19 09:59] bill-anderson commented on #82
No problem in adding description change to 1.05
2.01 makes period-start (not period-end) conditionally mandatory, right?

[2014-08-19 10:29] caprenter commented on #50
With this issue lying dormant for a while, I'm happy to say that what we have in place will do. Given more time we could revisit this. If anyone else wants to pick this up and check through the tests they would be welcome. Marking this a bitesize, and keeping it open but moving it to a future milestone.

[2014-08-19 10:35] #109 closed, assigned to caprenter

[2014-08-19 10:36] #141 closed, assigned to caprenter

[2014-08-19 11:18] Bjwebb commented on #138
@bill-anderson Note that this table should probably be produced for both the activity and organisation standards.

[2014-08-19 11:49] caprenter opened #153 "Version information incorrect in registry-record and common schemas"
Noticed that there are a couple of places where 1.03 is still referenced in the common and registry record schemas (of version 1.04)

This is a bug with little impact, so can be changed immediately.

[2014-08-19 12:31] Bjwebb opened #154 "Fancy quotes in the schema"
There are a number of fancy quotes (ie. non-ascii curvy ones) in the schema now, due to copy and pasting from Bill's table. Should anything be done about these?

[2014-08-19 12:40] Bjwebb opened #155 "Who maintains the Location Class codelist?"
The [schema currently reads](https://github.com/IATI/IATI-Schemas/blob/64e20cc9cde6f5a04466eeebf934a672e4bf8ca7/iati-activities-schema.xsd#L1494):

However, the Location Class codelist is an Embedded codelist, with no external source mentioned - http://iatistandard.org/codelists/GeographicLocationClass/

@bill-anderson Does one of these need updating?

[2014-08-19 12:58] caprenter commented on #150
Places this needs updating:
- [x] README.txt
- [x] iati-regisrty-record-schema.xsd
- [x] iati-organisations-schema.xsd
- [x] iati-common.xsd
- [x] iati-activities-schema.xsd
- [ ] CHANGES.txt

[2014-08-19 13:49] #153 closed, assigned to caprenter

[2014-08-19 13:52] bill-anderson commented on #155
We do.
This was a 1.04 change. It is a simplification of LocationType (category) which is maintained by USNGA.

http://iatistandard.org/codelists/LocationType-category/ shouldn't be there anymore as  1.04 threw it out.

[2014-08-19 13:53] bill-anderson commented on #138
I know. Won't get there before next week

[2014-08-19 14:38] Bjwebb commented on #112
@davidmegginson Thanks for taking the time to review this.

My proposal would be to remove mixed content everywhere, including the examples you mention. This is because whilst adding mixed content might be useful for some publishers to add extra information, it makes it rather difficult for data users to know how to handle the mixed content correctly, especially since it can contain any possible X

[2014-08-19 14:50] Bjwebb commented on #155
Since we maintain it, I'll change the schema description to:

Also http://iatistandard.org/codelists/LocationType-category/ still exists as it's a useful list for data users who want to categorise LocationTypes in their application.

[2014-08-19 15:17] bill-anderson commented on #155
aah

[2014-08-20 07:57] #154 closed, assigned to caprenter

[2014-08-20 08:00] #155 closed, assigned to Bjwebb

[2014-08-20 08:01] #112 closed, assigned to nobody

[2014-08-20 08:12] #143 closed, assigned to Bjwebb

[2014-08-22 15:21] Bjwebb commented on #82
Yes - http://support.iatistandard.org/entries/77285258-Version-2-01-Iteration-2-2-Additional-Mandatory-Conditions

[2014-08-26 15:02] caprenter commented on #82
I've added this proposal to the 1.05 upgrade forum here: http://support.iatistandard.org/entries/50424779-Add-a-description-in-the-schema-to-planned-disbursement-element

[2014-08-26 15:18] caprenter opened #158 "Change the version information in the schemas"
Identical to: https://github.com/IATI/IATI-Schemas/issues/150
but for 1.05

[2014-08-26 15:24] caprenter commented on #142
This work is taking place on the 'occurs' branch ([see this pull request](https://github.com/IATI/IATI-Schemas/pull/162)). The activity schema has been done
https://github.com/IATI/IATI-Schemas/tree/occurs

[2014-08-28 09:19] caprenter commented on #142
..and just committed the changes to the organisation schema on the same branch as above

[2014-08-28 12:27] caprenter commented on #142
Assigning to @Bjwebb for checking

[2014-09-01 11:24] #82 closed, assigned to caprenter

[2014-09-01 14:30] stevieflow commented on #147
Yes, thanks

[2014-09-01 14:30] #147 closed, assigned to stevieflow

[2014-09-01 14:36] stevieflow opened #159 "iati-organisation - doesnt permit @version"
I included the version attribute for 2.01 example XML of the Org file, but this is invalid.

https://github.com/IATI/IATI-Extra-Documentation/commit/2307c8943d073ed2e23748880f5bc23c8b009f5f

http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/

@bill-anderson Should this be included in 2.01 upgrades?

[2014-09-01 18:33] bill-anderson commented on #159
2.01 deletes iati-organisations/iati-organisation/@version

[2014-09-01 19:11] stevieflow commented on #159
But it says here: http://support.iatistandard.org/entries/76652763-Version-2-01-Iteration-2-6-Improvements-to-the-Organisation-Standard that it is mandatory..?

[2014-09-02 07:29] bill-anderson commented on #159
No it doesn't
???
Ctrl F5??

[2014-09-02 12:18] #159 closed, assigned to nobody

[2014-09-02 12:19] stevieflow opened #160 "activity schema - ordering"
`iati-identifier` now seems to be third for `iati-activity` elements, behind `reporting-org` and `participating-org`

Could / should it be first - as the unique/primary identifier for the information that then folows?

[2014-09-02 15:31] bill-anderson commented on #146
Yes. Should be 0..*

[2014-09-02 15:36] bill-anderson commented on #145
This can be closed? Right?

[2014-09-02 15:38] bill-anderson commented on #138
@caprenter you have done organisation, right?

[2014-09-02 15:40] bill-anderson commented on #111
All done?

[2014-09-02 15:54] bill-anderson commented on #77
No, it is not correct.

The recipient-org-budget element allows for the reporting of forward looking budgets for each institution  which receives core funding from the reporting organisation. The recommendation is that, where and when possible, annual planned budgets for each recipient institution for each of the next three financial years are reported. This is primarily applicable to donors but a

[2014-09-02 16:17] bill-anderson commented on #71
- We do need a new rule that checks percentage split across recipient-country AND recipient-region.
- We can't enforce that recipient-region should not just describe the region in which a country occurs.

[2014-09-02 16:19] bill-anderson commented on #71
recipient-country definition
A country that will benefit from this activity. If a specific country is not known the recipient-region element should be used instead. For geographical location, use the location element.

Multiple countries and regions can be reported, in which case the percentage attribute MUST be used to specify the share of total commitments across all reported countries and regio

[2014-09-02 16:23] bill-anderson commented on #71
recipient-region definition
A supranational geopolitical region that will benefit from this activity.  For sub-national geographical location, use the location element.

Multiple countries and regions can be reported, in which case the percentage attribute MUST be used to specifiy the share of total commitments across all reported countries and regions. Recipient-region must not be used merely to

[2014-09-02 16:35] bill-anderson commented on #70
Done [updating the support forum]

[2014-09-02 16:38] bill-anderson commented on #160
I am not fussed either way. Happy for @stevieflow and @Bjwebb to agree a call on this

[2014-09-02 16:44] bill-anderson commented on #68
location/administrative is missing from the list on
http://support.iatistandard.org/entries/77309847-Version-2-01-Iteration-2-4-Multi-lingual-text-fields

Done

[2014-09-02 16:55] stevieflow commented on #160
I vote for
`iati-identifier` being first
then
`reporting-org`
`title`
`description`

etc

[2014-09-02 16:57] Bjwebb commented on #160
@stevieflow If `title` follows `reporting-org`, then where does `participating-org` go?

[2014-09-02 16:59] stevieflow commented on #160
@Bjwebb yes.  We've a certain order here: http://iatistandard.org/activity-standard/iati-activities/iati-activity/ - but that doesnt follow the same structure either....!

[2014-09-02 17:58] stevieflow commented on #77
@bill-anderson so @Bjwebb needs to edit the schema description for 1.04?

[2014-09-03 07:49] bill-anderson commented on #77
Yes (or 1.05 if easier)

[2014-09-03 10:27] Bjwebb commented on #158
See pull request for further comments https://github.com/IATI/IATI-Schemas/pull/161

[2014-09-03 11:34] caprenter commented on #145
My understanding is:
The original proposal: http://support.iatistandard.org/entries/55170393-Tied-and-partially-tied-values
'got lost' in 2.01 because it was never referenced as something under consideration in 2.01 from the formal proposal overview posts that @bill-anderson created. We had direct feedback asking "where has it gone"

Now the post (still in 2.01 forum) has detailed some additional

[2014-09-03 11:38] bill-anderson commented on #145
Correction: It didn't get lost. On review of Canada's request I made a judgement call that the current standard caters for their needs. They have now agreed to this.

The only problem was that the judgement call was not logged and communicated properly

This was an issue for Canada and no one else. If they are now happy there is nothing to do

[2014-09-03 12:30] Bjwebb commented on #68
Following the [change to the proposal](http://support.iatistandard.org/entries/77309847-Version-2-01-Iteration-2-4-Multi-lingual-text-fields#view-post-22174599), I have added narrative elements to all recipient-country and recipient-region elements.

BTW, @bill-anderson is transaction-date still missing from [the list](http://support.iatistandard.org/entries/77309847-Version-2-01-Iteration-2-4-Mul

[2014-09-03 14:39] Bjwebb commented on #77
@bill-anderson Could you clarify whether your most recent long paragraph of text is the suggested new description (for 1.04/1.05 and 2.01), or just explanation for Steven?

This can go into 1.04 if we consider it to be a bug fix / documentation change.

[2014-09-03 15:00] bill-anderson commented on #77
Yes, new description. Can go into 1.04

[2014-09-03 15:19] stevieflow commented on #71
@bill-anderson is this guidance text, or also intended as schema description text?

[2014-09-03 15:20] #77 closed, assigned to Bjwebb

[2014-09-03 15:25] Bjwebb commented on #111
@caprenter has updated the schema in the [occurs branch](https://github.com/IATI/IATI-Schemas/pull/162) such that the occurs is 1..*

@bill-anderson Not directly related to this issue, but you still need to add the updated table for the activity standard to the support forum proposal.

[2014-09-03 15:25] #111 closed, assigned to Bjwebb

[2014-09-03 15:33] bill-anderson commented on #71
sorry, schema description

[2014-09-03 15:57] Bjwebb commented on #71
Note that "iati-activuty" is a typo (also present in the current schema definition).

[2014-09-03 16:16] Bjwebb commented on #138
@bill-anderson I have enforced the order of the organisation standard (based on the order in [your html table](https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776)). @caprenter has also added the occurs values from the same table , see issue #142

However, enforcing order of the organisation standard is not currently described in the support forum

[2014-09-03 16:31] bill-anderson commented on #138
sigh
yes it should
will aim to get it done friday

[2014-09-04 09:24] caprenter commented on #142
Just a note - need to implemnt changes in
https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776 as a result of discussion today.

[2014-09-04 09:25] Bjwebb commented on #142
@caprenter And also the changes to the activity standard occurs.

[2014-09-04 09:52] Bjwebb commented on #146
This has been fixed on the occurs branch https://github.com/IATI/IATI-Schemas/blob/cbd8234c95ce3e79141efec72c0cc8bc9334d571/iati-activities-schema.xsd#L1369

[2014-09-04 09:52] #146 closed, assigned to caprenter

[2014-09-04 09:54] Bjwebb commented on #121
This has been fixed in the occurs branch https://github.com/IATI/IATI-Schemas/blob/cbd8234c95ce3e79141efec72c0cc8bc9334d571/iati-organisations-schema.xsd#L405

[2014-09-04 09:54] #121 closed, assigned to caprenter

[2014-09-04 09:57] caprenter commented on #145
Cool.

[2014-09-04 09:57] #145 closed, assigned to caprenter

[2014-09-04 10:38] bill-anderson commented on #71
@Bjwebb I've finished mods to above definitions which apply to activity- and transaction-levels. Definitions in org standard only need first para.

[2014-09-04 10:52] #158 closed, assigned to caprenter

[2014-09-04 13:15] Bjwebb commented on #71
I've updated the activity schema with your new definitions.

Actually I don't think most of the first paragraph is applicable to the definitions in the organisation standard. These currently are:

In recipient-country-budget:

In document-link:

I have left these as they are.

[2014-09-04 14:11] caprenter commented on #58
This will not make it into 1.05 and is not needed in 2.01 yet. It clearly needs more thought and work, so switching milestone

[2014-09-04 14:33] caprenter commented on #128
A good amount of work has been done on this for 2.01 - bumping to another milestone

[2014-09-04 15:03] Bjwebb commented on #67
Looking at the updated proposal http://support.iatistandard.org/entries/77285258-Version-2-01-Iteration-2-2-Additional-Mandatory-Conditions

These are implemented in the schema as part of David's [occurs branch](https://github.com/IATI/IATI-Schemas/pull/162):
- budget/period-start/@iso-date is MANDATORY and must be a valid ISO format
- budget/period-end/@iso-date is MANDATORY and must be a valid I

[2014-09-04 15:03] Bjwebb commented on #66
Looking at the updated proposal http://support.iatistandard.org/entries/77284798-Version-2-01-Iteration-2-1-Strengthening-the-Core-of-the-Standard

These are implemented in the schema as part of David's [occurs branch](https://github.com/IATI/IATI-Schemas/pull/162):
- The order in which elements are reported MUST follow the sequence dictated by the Schema.
- Schema cardinality rules are enforced.

[2014-09-04 15:42] caprenter commented on #142
This work has been based on a  spreadsheet that @bill-anderson created. Which is going to be posted in public on the support forum.

[2014-09-08 09:56] #71 closed, assigned to Bjwebb

[2014-09-08 10:41] Bjwebb commented on #160
@stevieflow We've suggested a new ordering here http://support.iatistandard.org/entries/52110419-Activity-Standard-Order-and-occurrence-of-elements which I will now element in the schema.

[2014-09-08 10:44] Bjwebb opened #163 "Only activity description should have @type attribute"
Also, so that multiple descriptions of different types can be provided, activity description should have occurs 1..*

[Edit: now added to the support forum proposal at the bottom of http://support.iatistandard.org/entries/52106609-Version-2-01-Iteration-3-8-Miscellaneous ]

[2014-09-08 11:14] Bjwebb opened #164 "Tests fail for wrong reasons"
Most of the tests in the activity-tests/should-fail directory (not the subdirectories) fail due to elements missing, not for the desired reason.

@caprenter I'm happy to look through and fix these, as I haven't had chance to look through the tests properly yet. But first, I just wanted to double check that you hadn't fixed these tests, but not committed them, as you said you were going to check th

[2014-09-08 11:19] #160 closed, assigned to stevieflow

[2014-09-08 11:20] Bjwebb commented on #164
Note that I also recently made a change to the ordering, which required changes to nearly all of the tests. https://github.com/IATI/IATI-Schemas/commit/53c24261df9fb2739206ea800982e319d40cfa9f -> I did this mostly via find an replace, so I may have missed some should-fail tests (in addition to those already missing elements)

[2014-09-08 11:29] Bjwebb commented on #163
@bill-anderson Could you update the support forum proposal to state that we have removed these `@type` attributes:

[code]

[2014-09-08 12:08] Bjwebb commented on #138
Thanks, spotted you've posted this now http://support.iatistandard.org/entries/52112469-Organisation-Standard-Order-and-occurrence-of-elements

[2014-09-08 12:08] #138 closed, assigned to bill-anderson

[2014-09-08 12:26] Bjwebb commented on #142
The occurs list has now been posted on the support forum:
- [Activity Standard](http://support.iatistandard.org/entries/52110419-Activity-Standard-Order-and-occurrence-of-elements)
- [Organisation Standard](http://support.iatistandard.org/entries/52112469-Organisation-Standard-Order-and-occurrence-of-elements)

Someone should check that these occurs match the generated lists on the dev website:
-

[2014-09-08 12:57] bill-anderson commented on #163
Done

[2014-09-08 16:23] Bjwebb commented on #163
@bill-anderson This is quite a significant change to the schema, so I'd expect to see a note under New Issues on http://support.iatistandard.org/entries/52105759-Version-2-01-Formal-Proposal-Iteration-3-Overview

[2014-09-08 16:24] bill-anderson commented on #163
ok

[2014-09-09 09:59] caprenter opened #165 "Re-write should fail tests"
Should fail tests (in particular) are not very robust - i.e. fails are easy and can happen for the wrong reasons.

Might be worth revisiting the tests, and the way they are done to check things fail for the right reasons....

..at some point

[2014-09-09 10:10] Bjwebb commented on #164
Apparently these tests directly in the should-fail directory are old tests that should now be superseded by the tests in the subdirectories. We should double check whether this is true, and remove the old tests if it is.

[2014-09-09 10:14] Bjwebb commented on #165
See also this more specific issue: https://github.com/IATI/IATI-Schemas/issues/164

[2014-09-09 11:51] Bjwebb commented on #163
Thanks.

[2014-09-09 11:51] #163 closed, assigned to bill-anderson

[2014-09-09 12:10] caprenter commented on #68
I believe this is now complete.
transaction-date should not have had a narrative element and that has since been removed from the schema in this commit: https://github.com/IATI/IATI-Schemas/commit/66e72a4695c4130e5cd09d23d67b5c30e701ea1b

[2014-09-09 12:10] #68 closed, assigned to bill-anderson

[2014-09-10 14:26] Bjwebb opened #166 "@version schema description needs updating"
[code]

should maybe be

[code]

since there is only one version attribute in a file.

[2014-09-10 14:43] Bjwebb commented on #38
@bill-anderson I'm assuming you've done https://github.com/IATI/IATI-Schemas/issues/38#issuecomment-39991077 as part of the changes in https://docs.google.com/spreadsheets/d/1gVpcS8DR_-QDB8pxKdPHRuuRPmWs1yIWfBaGAhXDwew/edit#gid=0

[2014-09-10 14:43] #38 closed, assigned to bill-anderson

[2014-09-10 14:46] bill-anderson commented on #38
Yes

[2014-09-11 08:59] stevieflow opened #167 "2.01 : participating-org/@ref - description text"
Looking at : http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/participating-org/

Is the mention of text() correct?

[2014-09-11 09:04] Bjwebb commented on #167
@stevieflow This is generated automatically from the ruleset. Now that we have introduced the narrative element, the mention of text() is incorrect.

Should be:

[2014-09-11 10:45] stevieflow opened #168 "contact-info/narrative"
There are narrative element is present for

`organisation`
`department`
`person-name`
`job-title`
`mailing-address`

Can we please check if multiple `narrative` are allowed on all these?

Further - does that make sense / use for `person-name` and `mailing-address` ?

[2014-09-11 11:00] stevieflow opened #169 "country / region - description text"
I do think we need to make this simpler, somehow

eg: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-country/

but need to ask questions first:
- What will the schema do if an activity has three transactions, but only one has an country/region?
- What will the schema do if all transactions have a country, yet iati-activity/recipient-country is also popula

[2014-09-11 11:17] bill-anderson commented on #169
Schema won't do anything. Rule will mark it invalid (or whatever rules do)

Schema won't do anything. Rule will mark it invalid (or whatever rules do)

Schema won't do anything. Rule will mark it invalid (or whatever rules do)

[2014-09-11 13:04] stevieflow opened #170 "sector - vocabulary - description text"
The sector narrative description states that this should only be used with RO vocabulary

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/narrative/

This is not mentioned in the vocabulary description text for sector:

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/

[2014-09-11 13:21] stevieflow opened #171 "sector - vocabular - description text - citing RO"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/

Should this now be `99` ?

And - does `98` need a mention?

[2014-09-11 13:55] stevieflow opened #172 "policy-marker / narrative - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/policy-marker/narrative/

Should be updated to include 98?

[2014-09-11 13:55] stevieflow commented on #172
See also https://github.com/IATI/IATI-Schemas/issues/171

[2014-09-11 13:57] stevieflow commented on #172
Sorry - my bad - 98 doesnt exist on http://dev.iatistandard.org/201/codelists/PolicyMarkerVocabulary/

(which is OK?)

[2014-09-11 13:59] stevieflow opened #173 "policy marker - description text"
This seems to have been mixed up with the narrative text:

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/policy-marker/

[2014-09-11 14:29] stevieflow opened #174 "Schema description text needs full check - consistency of language & terms"
In the same way that codelist description text was fully reviewed (https://github.com/IATI/IATI-Codelists/issues/3) , it might be useful in terms of schema description text.

For example, `budget`: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/budget/

eg: "aid activity"

@bill-anderson  Is this one for @izzirbucknall ?

cc/ @jonihillman

[2014-09-11 17:17] stevieflow opened #176 "planned-disbursement / @type"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/planned-disbursement/

I understand this is to be removed - but seems to be in the page generated by the schema..?

Assign to @Bjwebb if the case

[2014-09-11 17:28] stevieflow commented on #176
Sorry - my bad - `last-updated` has been removed - `type` added

[2014-09-11 17:28] #176 closed, assigned to bill-anderson

[2014-09-11 17:57] bill-anderson commented on #67
http://support.iatistandard.org/entries/52417175-Version-2-01-Iteration-3-2-Additional-Mandatory-Conditions

on planned disbursement only period-start is mandatory

[2014-09-11 19:00] stevieflow opened #177 "fss - extraction-date - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/fss/

Just want to double check where this sits with our guidance / instructions on date formats

We dont mention "plus [optional] timezone)" in other cases

[2014-09-11 19:14] bill-anderson commented on #177
change it to our standard xsd:date guidelines

[2014-09-11 20:02] stevieflow opened #178 "transaction - provider/receiver-org - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/provider-org/
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/receiver-org/

This doesnt look correct - it only mentions name for the whole description

There is also a duplication of the word element:

[2014-09-12 06:59] stevieflow opened #179 "sector - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/

This is specifically about `narrative` - and is repeated at http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/narrative/

Should the description text for `sector` be more "generic"?

Also - does there need to be any mention of the fact that sector can be added via transacti

[2014-09-12 07:02] stevieflow opened #180 "transaction/sector - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/sector/

Again (as per https://github.com/IATI/IATI-Schemas/issues/179) this is actually about `narrative`, and repeated there: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/sector/narrative/

Also - no mention here about `iati-activit/sector`

[2014-09-12 07:02] stevieflow commented on #179
See also https://github.com/IATI/IATI-Schemas/issues/180

[2014-09-12 07:06] stevieflow opened #181 "transaction/sector - percentage ?"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/sector/

Under `vocabulary`:

But - there is no `percentage` attribute

[2014-09-12 07:12] stevieflow opened #182 "transaction / country / region - description text"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/recipient-country/

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/recipient-country/

Should "activity" be "transaction" ?

Additionally, `transaction/region` states:

Read from the perspective of a transaction, this is not true - there is no `transaction/locati

[2014-09-12 07:23] stevieflow opened #183 "transaction - disbursement channel - order"
This element is the final child of `transaction`

It might be better to place this before the override child elements (`aid-flow` etc) which are only needed if their value differs from the default.  There is no "default-disbursement-channel" - so it would make it easier to place this element within the "subset" that are unique for a `transaction` - making it easier to provide examples in the docum

[2014-09-15 11:12] stevieflow commented on #181
I think this one needs your checking @bill-anderson.

@izzirbucknall is on the description text issues

[2014-09-15 11:18] bill-anderson commented on #181
at transaction level you can have multiple sectors BUT ONLY one sector per vocabulary

[2014-09-15 11:27] stevieflow commented on #181
Therefore, the text needs some work/clarity:

[2014-09-16 08:15] stevieflow commented on #168
@Bjwebb is it the case that all these narratives can be used multiple times?

[2014-09-16 12:38] caprenter commented on #168
The schema does allow multiple narratives on these elements - in fact they are set as type="textRequiredType" - so at least one narrative element must be used.

It may or may not make sense that translations of each of these fields may be supplied, but having the ability to provide a translation is not, I think, a problem.

The 2.01 schema does reflect the will expressed here:
http://support.iatis

[2014-09-16 15:50] Bjwebb commented on #168
@stevieflow I think it's definitely useful to be able to provide names and addresses in multiple languages. Although many names are the same across some languages, there are often cases where they aren't, most commonly languages that use different writing systems.

[2014-09-17 10:32] caprenter opened #184 "Activity tests - bad comment"
Many of the activity tests have this line in them:

[code]

The comment is incorrect, it should be more like 'at least 1'

Needs a find and replace job

[2014-09-17 12:55] stevieflow commented on #168
ok thanks

I'll leave translated examples for now - as the purpose of this Issue was to check that they were possible/intended (the will of the standard)

[2014-09-17 12:55] #168 closed, assigned to stevieflow

[2014-09-18 08:41] ghost commented on #167
Updated in Spreadsheet. https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-18 09:03] ghost commented on #169
Simplified in spreadsheet https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-18 09:56] ghost commented on #179
Since reference to reporting sector at either transaction or activity level has been added to Sector description, I don't think this needs adding to the narrative description. This approach would be consistent with what has been done in other areas of the schema.

[2014-09-18 10:38] stevieflow opened #185 "org standard / reporting-org - talks about activity standard"
http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/reporting-org/

[2014-09-18 15:28] bill-anderson commented on #183
So you want it after receiver-org and before sector? I'm happy with that. @Bjwebb ? If you make the change give me go ahead and I will change http://support.iatistandard.org/entries/52110419-Activity-Standard-Order-and-occurrence-of-elements (which is the non-techie master, right?)

[2014-09-19 13:00] ghost commented on #166
Made suggested changes in the Spreadsheet for both Activity and Organisation Schema version elements.

[2014-09-19 13:07] ghost commented on #170
Updated the sector-vocabulary description in spreadsheet. https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-19 13:13] ghost commented on #171
Updated in spreadsheet changes https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-19 13:21] ghost commented on #174
Completed initial review 19/09/2014 all details available https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-19 13:45] ghost commented on #177
Found this occurring 11 times in Activity Schema (made changes in spreadsheet to remove optional time zone information). And 6 times in the Organisation Schema (made changes in spreadsheet to remove optional time zone information) - these are all tagged with a note saying "Github #177.

[2014-09-19 14:02] ghost commented on #178
Unclear on first part of this, but have now included logs for removing duplication of the word "element" in both provider- and reciever-org

[2014-09-19 14:10] ghost commented on #181
Updated the transaction/sector/vocabulary and transaction/sector descriptions to clarify this.

https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=2069246313

[2014-09-19 14:13] ghost commented on #182
Updated suggestions on spreadsheet.

Note that there was discrepancy between use of "transaction" and "activity" between the website and the initial spreadsheet.

[2014-09-19 14:14] ghost commented on #185
Updated description in spreadsheet: https://docs.google.com/spreadsheets/d/19mRCizDHLuVn5ZfF9b-CJZ0Me4N7ehsmvT2wB4DtipQ/edit#gid=0

[2014-09-19 14:18] ghost opened #186 "Source inconsistency: Org Schema/IATI Org/version"
"iati-organisation/version" element exists in the master spreadsheet (https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776) , but not on the website.

[2014-09-19 14:20] ghost opened #187 "Source Inconsistency: Org Schema/Organisation-identifier"
Website (http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/organisation-identifier/) is missing the one-line overview description from the spreadsheet:

[2014-09-19 14:22] ghost opened #188 "Source inconsistency: Org Schema/IATI identifier"
IATI-identifier still exists on the spreadsheet,but not on the website.

[2014-09-19 14:24] ghost opened #189 "Source inconsistency: Org Schema/Reporting Org/Secondary Reporter"
Descriptions are different between website and spreadsheet:

website:

spreadsheet:

[2014-09-19 14:25] ghost opened #190 "Source inconsistency: Org Schema/Recipient-Org-Budget"
Description is different between website and spreadsheet:

Website:

Spreadsheet:

[2014-09-19 14:27] ghost opened #191 "Source inconsistency: Org Schema / Recipient org budget/value"
Description is different between website and spreadsheet:

Website:

Spreadsheet:

[2014-09-19 14:29] ghost opened #192 "Source inconsistency: Org Schema/Recipient Country Budget/"
Different descriptions on website and spreadsheet:

Website

Spreadsheet:

[2014-09-19 14:30] ghost opened #193 "Source inconsistency: Org Schema/Recipient Country Budget/Narrative"
Descriptions different

Website:

Spreadsheet:

[2014-09-19 14:32] ghost opened #194 "Source inconsistency: Org Schema/Recipient Country Budget/Value"
Descriptions different

Website:

Spreadsheet:

[2014-09-19 14:33] ghost opened #195 "Source inconsistency: Org Schema/Document Link/title"
Descriptions different

Website:

Spreadsheet:

[2014-09-19 14:34] ghost opened #196 "Source inconsistency: Org Schema/Document Link/language code"
Descriptions different

Website:

Spreadsheet:

[2014-09-19 14:35] ghost opened #197 "Source inconsistency: Org schema/Document link/text"
Descriptions different

Website:

Spreadsheet:

[2014-09-19 14:39] ghost opened #198 "Source inconsistency: Act Schema/iati activity/version"
The iati-activity/version element still exists in the spreadsheet, but not on the website.

[2014-09-19 14:40] ghost opened #199 "Source inconsistency: Act Schema/contact-info/department"
No department element exists on the spreadsheet, but it does on the website: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/contact-info/department/

[2014-09-19 14:41] ghost opened #200 "Source inconsistency: Act Schema/contact-info/mailing-address"
Descriptions are different:

Website:

Spreadsheet:

[2014-09-19 14:42] ghost opened #201 "Source inconsistency: Act Schema/Recipient-country/narrative"
No entry exists in the spreadsheet, but it does on the website: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-country/narrative/

[2014-09-19 14:44] ghost opened #202 "Source inconsistency: Act Schema/recipient-region/narrative"
No line for this in the spreadsheet, but it is on the website:
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-region/narrative/

[2014-09-19 14:45] ghost opened #203 "Source inconsistency: Act Schema/Location/Class-code"
Descriptions are different:

Website:

Spreadsheet:

[2014-09-19 14:46] ghost opened #204 "Source inconsistency: Act Schema/Country budget item/Description type"
No description element on the website, but it does exist in the spreadsheet.

[2014-09-19 14:47] ghost opened #205 "Source inconsistency: Act Schema/Planned Disbursement/Updated"
Not on the website, but still on the spreadsheet  - though, it is highlighted red, which I assume means it has been removed. Just flagging in case.

[2014-09-19 14:48] ghost opened #206 "Source inconsistency: Act Schema/transaction/narrative"
This is in the spreadsheet, but does not exist on the website.

[2014-09-19 14:50] ghost opened #207 "Source inconsistency: Act Schema/Transaction/Provider Org"
Difference in descriptions and repetition of wording:

Website:

N.B. Extra "element" needs removing.

Spreadsheet:

[2014-09-19 14:51] ghost opened #208 "Source inconsistency: Act Schema/Transaction/Reciever Org"
Difference in descriptions, and the duplication of the word "element" in the website:

Website:

Spreadsheet:

[2014-09-19 14:54] ghost opened #209 "Source inconsistency: Act Schema/Transaction/Recipient country/Narrative"
No description on the website, but there is an entry on the website:
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/recipient-country/narrative/

[2014-09-19 14:56] ghost opened #210 "Source inconsistency: Act Schema/transaction/recipient region"
Descriptions are different:

Website:

Spreadsheet:

[2014-09-19 14:58] ghost opened #211 "Source inconsistency: Act Schema/transacton/recipient country/narrative"
No line included on the spreadsheet, but entry is on the website:
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/recipient-region/narrative/

[2014-09-19 15:00] ghost opened #212 "Source inconsistency: Act Schema/document link/title"
Different descriptions:

Website:

Spreadsheet:

[2014-09-19 15:01] ghost opened #213 "Source inconsistency: Act Schema/activity website"
Not on the website, but still on the spreadsheet and highlighted red, assuming this means it has been deleted. Just flagging in case.

[2014-09-19 15:02] ghost opened #214 "Source inconsistency: Act Schema/result/title"
Different descriptions:

Website:

Spreadsheet:

[2014-09-19 15:03] ghost opened #215 "Source inconsistency: Act Schema/Description/Type"
Description type element is in the spreadsheet, but no on the website.

[2014-09-19 15:05] ghost opened #216 "Source inconsistency: Act Schema/Result/Indicator/Title"
Difference in descriptions:

Website:

Spreadsheet:

[2014-09-19 15:07] ghost opened #217 "Source inconsistency: Act Schema/indicator/Description/type"
Description on spreadsheet, but not included in 2.01 website.

[2014-09-19 15:09] ghost opened #218 "Source inconsistency: Act Schema/CRS-Add/Aid type flag"
The name on the website and the spreadsheet are different:

Website:

Spreadsheet:

[2014-09-19 15:10] ghost opened #219 "Source inconsistency: Act Schema/crs-add/ aid type flag /significance"
Descriptions are different:

Website:

Spreadsheet:

[2014-09-19 15:12] ghost opened #220 "Source inconsistency: Act Schema/crs-add/loan terms/repayment date/first date"
Different descriptions:

Website:

Spreadsheet:

[2014-09-19 15:14] ghost opened #221 "Source inconsistency: Act Schema/Repayment first date/iso-date"
Description error in spreadsheet:

Website: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/crs-add/loan-terms/repayment-first-date/

Spreadsheet:

[2014-09-19 15:16] ghost opened #222 "Source inconsistency: Act Schema/Crs add/loan terms/repayment/final date"
Difference in descriptions:

Website:

Spreadsheet:

[2014-09-19 15:18] ghost opened #223 "Recurring error: "ELEMENT" duplication"
Every time

occurs in the schema description, the first "element" is duplicated.

[2014-09-19 15:20] ghost opened #224 "Source inconsistency: Org Schema"
There are several discrepancies between the descriptions contained within the Master spreadsheet:
https://docs.google.com/spreadsheets/d/1AQX74_JN1y68ib0W5RUfS_CGq9MOijaQ2clTxg9kwbE/edit#gid=727726776

and the website:
http://dev.iatistandard.org/201/organisation-standard/elements/

It is unclear which the source of truth is.

The following issues sit under this issue:
- [x] #186
- [x] #187
- [x]

[2014-09-19 15:23] ghost opened #225 "Source inconsistency: Activity Schema"
There are several discrepancies between the descriptions contained within the Master spreadsheet:
https://docs.google.com/spreadsheets/d/1iHqYHqtuY-sfafEMRGw3nODjVY4BjutYsm0iFRYNJck/edit#gid=1246587534

and the website:
http://dev.iatistandard.org/201/activity-standard/elements/

It is unclear which the source of truth is.

The following issues sit under this issue:
- [x] #198
- [x] #199
- [x] #20

[2014-09-22 07:54] Bjwebb commented on #223
BTW, this line of text is generated automatically based on the minOccurs and maxOccurs values in the schema. This is currently not clear on the website, which is a UI bug.

Not sure exactly what the text error is here. Is the problem that the word "element" appears twice in the above sentence? I think it's currently grammatically correct, but agree it could be more nicely worded. Do you have a sug

[2014-09-22 07:58] ghost commented on #223
No, I copied in a corrected sentence I'd typed. On the website it looks like this:

Grammatically etc. its fine.

[2014-09-22 08:15] Bjwebb commented on #223
Oh yes, I see now. Thanks.

[2014-09-23 10:39] caprenter commented on #222
This is a problem with the schema, and will be fixed there.

[2014-09-23 10:42] stevieflow commented on #183
Assigned to @Bjwebb

@bill-anderson can you also update the proposal, as you suggest?

[2014-09-23 10:46] bill-anderson commented on #183
Done

[2014-09-23 10:48] caprenter opened #227 "iso-date description is not helpful"
This: (yyyy-mm-dd plus [optional] time zone)

is not really a useful description.

Suggest we remove descriptions for iso-date completely as the type xsd:date tells you all you need to know.

[2014-09-23 10:50] caprenter commented on #221
This is obviously a typo in the spreadsheet. I have fixed it in the spreadsheet.

The description needs a fix in the schema.

[2014-09-23 11:07] stevieflow opened #228 "2.01 other identifier"
depending on outcome of this proposal, edit schemas accordingly

http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

[2014-09-23 11:11] caprenter commented on #220
Closing this as this is now effectively being dealt with in #221

[2014-09-23 11:12] #220 closed, assigned to nobody

[2014-09-23 11:23] caprenter commented on #218
This is a deliberate change in 2.01. Altered the spreadsheet accordingly.

[2014-09-23 11:23] #218 closed, assigned to nobody

[2014-09-23 11:26] caprenter commented on #217
This attribute has been removed in 2.01

[2014-09-23 11:26] #217 closed, assigned to nobody

[2014-09-23 11:32] caprenter commented on #216
Schema is the authority here -changing the spreadsheet

[2014-09-23 11:32] #216 closed, assigned to nobody

[2014-09-23 11:40] caprenter commented on #215
a number of these have been removed in 2.01 I have tried to indicate this in the spreadsheet.

[2014-09-23 11:40] #215 closed, assigned to nobody

[2014-09-23 11:46] caprenter commented on #214
This is pulled from the common schema which is correct. Edited the spreadsheet accordingly

[2014-09-23 11:46] #214 closed, assigned to nobody

[2014-09-23 11:46] caprenter commented on #213
Yes - anything in Red is marked as being deleted

[2014-09-23 11:46] #213 closed, assigned to nobody

[2014-09-23 11:47] caprenter commented on #212
Same type of issues as fixed in #216

[2014-09-23 11:47] #212 closed, assigned to nobody

[2014-09-23 11:48] stevieflow opened #229 "2.01 - change description text for recipient-region/recipient-country/sector @percentage"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-country/
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-region/
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/

As per: https://github.com/IATI/IATI-Extra-Documentation/issues/233#issuecomment-55263623 from @bill-anderson

[2014-09-23 11:54] caprenter commented on #211
The need for the narrative element was introduced in the upgrade process, so I have now added this to he spreadsheet.

[2014-09-23 11:54] #211 closed, assigned to nobody

[2014-09-23 12:00] caprenter commented on #210
The website is more up to date than the spreadsheet in this case

[2014-09-23 12:00] #210 closed, assigned to nobody

[2014-09-23 12:04] caprenter commented on #209
updated the google doc accordingly

[2014-09-23 12:04] #209 closed, assigned to nobody

[2014-09-23 12:06] caprenter commented on #208
This is essentially the same as https://github.com/IATI/IATI-Schemas/issues/223 and will be fixed when that is, so closing this.

[2014-09-23 12:06] #208 closed, assigned to nobody

[2014-09-23 12:07] caprenter commented on #207
This is essentially the same as #223 and will be fixed when that is, so closing this.

[2014-09-23 12:07] #207 closed, assigned to nobody

[2014-09-23 12:12] caprenter commented on #200
The second sentence is generated from the information in the schema when the website is built. This will be fixed when this issue is complete: https://github.com/IATI/IATI-Standard-SSOT/issues/63

[2014-09-23 12:12] #200 closed, assigned to nobody

[2014-09-23 12:14] caprenter commented on #198
This has been removed in 2.01 and the spreadsheet has been updated to reflect this

[2014-09-23 12:14] #198 closed, assigned to nobody

[2014-09-23 12:15] caprenter commented on #188
Items marked in red are to be deleted so this is ok.

[2014-09-23 12:15] #188 closed, assigned to nobody

[2014-09-23 12:16] caprenter commented on #186
This is marked Red - i.e.for deletion, so is ok.

[2014-09-23 12:16] #186 closed, assigned to nobody

[2014-09-23 12:21] caprenter commented on #187
This is fine and as expected.

[2014-09-23 12:21] #187 closed, assigned to nobody

[2014-09-23 12:29] #183 closed, assigned to Bjwebb

[2014-09-23 12:30] Bjwebb commented on #150
CHANGES.txt is handled by this https://github.com/IATI/IATI-Schemas/issues/151 and all others have been changed, so closing this issue.

[2014-09-23 12:30] #150 closed, assigned to caprenter

[2014-09-23 12:32] #164 closed, assigned to caprenter

[2014-09-23 12:40] #184 closed, assigned to caprenter

[2014-09-23 14:05] caprenter commented on #206
I think this is just a misreading of the table

[2014-09-23 14:05] #206 closed, assigned to nobody

[2014-09-23 14:05] caprenter commented on #205
Yes - red means it has been flagged for removal

[2014-09-23 14:05] #205 closed, assigned to nobody

[2014-09-23 14:09] Bjwebb commented on #228
As far as I can tell the required tasks for other identifier are:
- [x] Add the `@type` attribute to `other-identifier`
- [x] Add the `OtherIdentifierType` codelist https://github.com/IATI/IATI-Codelists/issues/67

[2014-09-23 14:15] caprenter commented on #204
This has been removed in 2.01, and the spreadsheet has been updated

[2014-09-23 14:15] #204 closed, assigned to nobody

[2014-09-23 14:20] Bjwebb opened #231 "Implement 2.01 "9. Organisation and Activity Identifiers""
http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

This has multiple sections:
- [x] Reporting organisation
- [x] IATI activity identifier
- [x] Other-identifier https://github.com/IATI/IATI-Schemas/issues/228
- [ ] IATI Organisation Codelist

[2014-09-23 14:47] caprenter commented on #203
Corrected in the spreadsheet

[2014-09-23 14:47] #203 closed, assigned to nobody

[2014-09-23 14:50] Bjwebb commented on #228
@bill-anderson Should the `@type` attribute on `other-identifier` be required?

[2014-09-23 14:52] caprenter commented on #197
Thanks, but this is not important. It's to do with the way the spreadsheet cannot fully explain what should happen in the schema

[2014-09-23 14:52] #197 closed, assigned to nobody

[2014-09-23 14:54] Bjwebb opened #232 "There are no tests that the schema allows an other-identifier element"
This should also now include tests for the new `@type` attribute: https://github.com/IATI/IATI-Schemas/issues/228

[2014-09-23 15:02] caprenter commented on #196
Fixed in the spreadsheet

[2014-09-23 15:02] #196 closed, assigned to nobody

[2014-09-23 15:03] caprenter commented on #195
Corrected on the website

[2014-09-23 15:03] #195 closed, assigned to nobody

[2014-09-23 15:06] caprenter commented on #194
Updated in the schema

[2014-09-23 15:06] #194 closed, assigned to nobody

[2014-09-23 15:09] bill-anderson commented on #228
No.

I agree with Mark Brough's last response just posted at http://support.iatistandard.org/entries/52824355

I think in most of what I've seen so far, other-identifier has more often been used for internal project IDs rather than for linking to CRS reporting (though I may be wrong on this, it's just a vague impression)

If that's the case, I would suggest reversing A1 and A2, and to answer David

[2014-09-23 15:17] caprenter commented on #192
updated the spreadsheet

[2014-09-23 15:17] #192 closed, assigned to nobody

[2014-09-23 15:21] caprenter commented on #191
Fixed in spreadsheet and typo on 'disbused' fixed in schema and removed the words, 'This element is required.' as that can easily be generated.

[2014-09-23 15:21] #191 closed, assigned to nobody

[2014-09-23 15:27] caprenter commented on #190
updated the spreadsheet

[2014-09-23 15:27] #190 closed, assigned to nobody

[2014-09-23 15:31] caprenter commented on #189
Fixed in the spreadsheet

[2014-09-23 15:31] #189 closed, assigned to nobody

[2014-09-23 15:37] caprenter commented on #223
Fix looks good. Thanks.

[2014-09-23 15:37] #223 closed, assigned to Bjwebb

[2014-09-23 16:17] Bjwebb commented on #142
I have checked this, and found that the support forum and schema are consistent for the Organisation Standard, but for the Activity Standard there are the following discrepancies in the forum vs the schema:

[code]

For everything except activity-scope, I think the schema is correct (and in fact we actually discussed, and agreed this on a call), so the support forum should be updated to match.

Fo

[2014-09-23 16:31] bill-anderson commented on #142
[code]

[2014-09-24 09:42] caprenter commented on #227
Fixed in https://github.com/IATI/IATI-Schemas/commit/099156bb00a6cb1665b2cee47e4607a5f3db38be

[2014-09-24 09:42] #227 closed, assigned to caprenter

[2014-09-24 10:43] Bjwebb commented on #142
Thanks, @bill-anderson

I've updated the schema and the support forum proposal so that they're consistent with each other, and with what you've posted here.

[2014-09-24 10:43] #142 closed, assigned to Bjwebb

[2014-09-24 11:18] caprenter commented on #174
Where do we go from here? I assume @izzirbucknall 's work is for review and sign off.

In practical steps we need to know which definitions are to be changed.

[2014-09-24 11:21] caprenter commented on #181
So should this be changed in the schema, is the suggest text agreed? See also https://github.com/IATI/IATI-Schemas/issues/174

[2014-09-24 11:53] Bjwebb commented on #66
Those rules above that can be implemented with the rulesets framework should now be implemented. https://github.com/IATI/IATI-Rulesets/issues/17#issuecomment-54491885

Rules that can't be tested with the rulesets framework will be added as documentation, and then tested with bespoke code: https://github.com/IATI/IATI-Extra-Documentation/issues/250

"Rules" in the definitional and recommendation se

[2014-09-24 11:55] Bjwebb commented on #67
Those rules above that can be implemented with the rulesets framework should now be implemented. https://github.com/IATI/IATI-Rulesets/issues/17#issuecomment-54491885

Rules that can't be tested with the rulesets framework will be added as documentation, and then tested with bespoke code: https://github.com/IATI/IATI-Extra-Documentation/issues/250

[2014-09-24 13:25] caprenter commented on #219
Fixed in https://github.com/IATI/IATI-Schemas/commit/c49903d90c0c3767848a69288c24821129ed0e83

[2014-09-24 13:25] #219 closed, assigned to caprenter

[2014-09-24 13:26] #221 closed, assigned to caprenter

[2014-09-24 13:30] caprenter commented on #172
@stevieflow Can this be closed then?

[2014-09-24 13:38] stevieflow commented on #173
fixed

[2014-09-24 13:38] #173 closed, assigned to nobody

[2014-09-24 13:45] stevieflow commented on #178
now fixed.  Thanks

[2014-09-24 13:45] #178 closed, assigned to nobody

[2014-09-24 13:50] stevieflow commented on #179
description text now fixed

[2014-09-24 13:50] #179 closed, assigned to nobody

[2014-09-24 13:52] stevieflow commented on #172
Yes, fixed, thanks

[2014-09-24 13:52] #172 closed, assigned to nobody

[2014-09-24 13:53] stevieflow commented on #185
@caprenter with the mention of activity standard, within an org standard element - can this be a bug fix?

[2014-09-24 13:57] stevieflow commented on #180
now fixed

[2014-09-24 13:57] #180 closed, assigned to nobody

[2014-09-24 14:04] caprenter commented on #185
The issue here is that we used use the element `iati-identifier` in both the organisation and the activity standard to mean different things. This is fixed in 2.01 by changing the one in the organisation standard to `organisation-identifier`

However this guidance refers to a field used in the IATI Registry software (which is sort of a problem in itself) - but I'm not sure what that field is calle

[2014-09-24 14:15] stevieflow commented on #185
@caprenter ok - see what you mean.

I wasnt actually reporting the "ref" issue.  This issue was more about the fact the this element talks about activities, when it is in the org standard.  Can that be fixed first of all?

Re: ref - is that still something that is the will of the standard?

[2014-09-24 14:26] stevieflow commented on #228
Just checking:

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/other-identifier/

The `OtherIdentifierType` codelist doesnt seem to be cited.  `OrganisationIdentifier` seems to be....

[2014-09-24 14:48] caprenter commented on #185
This definition is shared - i.e. it is defined in the common schema. If you are unhappy with this description then we need to either:
1) Remove this from the common schema and replace it in both the organisation and activity schemas - with appropriately targeted descriptions (of all child elements and attributes)
or
2) Generate a generic description that covers both cases and replace the existing

[2014-09-24 14:56] Bjwebb commented on #167
Have fixed this in the ruleset http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/participating-org/

[2014-09-24 14:56] #167 closed, assigned to Bjwebb

[2014-09-24 15:01] #222 closed, assigned to caprenter

[2014-09-24 15:03] Bjwebb commented on #228
Good spot. This was a typo in the codelist mapping file. Should now be fixed.

[2014-09-24 15:04] caprenter commented on #201
Updated the spreadsheet

[2014-09-24 15:04] #201 closed, assigned to caprenter

[2014-09-24 15:04] caprenter commented on #202
Updated the spreadsheet

[2014-09-24 15:04] #202 closed, assigned to caprenter

[2014-09-24 15:05] Bjwebb commented on #229
Have changed the description for those cases you've linked. I haven't changed the other percentage attributes - captial-spend and budget-item

[2014-09-24 15:05] #229 closed, assigned to Bjwebb

[2014-09-24 15:10] caprenter commented on #193
Fixed in the spreadsheet. All other narrative elements that are used for regions/countries use the same text

[2014-09-24 15:10] #193 closed, assigned to caprenter

[2014-09-24 15:14] caprenter commented on #199
Updated on the spreadsheet

[2014-09-24 15:14] #199 closed, assigned to caprenter

[2014-09-24 15:16] #232 closed, assigned to caprenter

[2014-09-24 15:17] #177 closed, assigned to nobody

[2014-09-24 15:17] #166 closed, assigned to caprenter

[2014-09-24 15:27] Bjwebb commented on #231
Parts of the support forum page have already been covered by other issues. These are the remaining tasks that I think are not listed elsewhere on GitHub:

## Reporting organisation

~~Schema definitions need to be changed to ensure this is no longer mandatory.:~~

~~\- [ ] http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/participating-org/#attributes~~
~~\- [ ] http:

[2014-09-24 15:51] Bjwebb opened #237 "Schema description changes"
## Non publishing organisations (as participating, receiving or providing orgs)

In https://github.com/IATI/IATI-Schemas/issues/231#issuecomment-56687647 I have identified various schema descriptions that need changing based on [Part 9 of the Iteration 3 proposal](http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers). I've created this n

[2014-09-24 17:05] stevieflow commented on #182
Additionally, I noticed that transaction/country & region states:

The AND/OR could be read as country AND region, perhaps?

It then states:

We should check that any new description text helps to clarify this @izzirbucknall

[2014-09-24 17:46] stevieflow opened #238 "country-budget-items/budget/item/@percentage - description text"
(Originally from https://github.com/IATI/IATI-Extra-Documentation/issues/233#issuecomment-55265757)

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/country-budget-items/budget-item/

Clarification is that the word "budget" refers to "country budget" (the parent element).  It may be relevant to adjust the description text accordingly, so we dont confuse between the

[2014-09-24 19:50] stevieflow commented on #185
@caprenter thanks

Just cross-matching this with https://github.com/IATI/IATI-Schemas/issues/231#issuecomment-56687647

In the description for reporting-org (regardless of which standard) then we have:

is that correct? Specifically: "May contain the organisation name as content - which could then contradict the requirement that it should match the Registry ID (see below)

In terms of way forward

[2014-09-25 06:55] bill-anderson commented on #237
Non-publishing orgs: existing definition is ok
Activity: accept your suggestion

BTW, Does the MUST NOT in  "Once an activity has been reported to IATI its identifier MUST NOT be changed in subsequent updates."  imply that this is a rule to be enforced? (Which we can't)

[2014-09-25 06:56] bill-anderson commented on #174
I will review this next week

[2014-09-25 07:24] bill-anderson commented on #231
XI-IATI for IATI Reg Agency

[2014-09-25 08:45] stevieflow opened #239 "budget-line - description text"
(from https://github.com/IATI/IATI-Extra-Documentation/issues/194#issuecomment-56781950)

Suggestion to edit the description text from:

Added new sentance:

@bill-anderson to sign off/ adjust

This will apply in three instances of budget-line in the org standard

[2014-09-25 08:54] stevieflow opened #240 "location/location-id - description text change"
(from @bill-anderson at https://github.com/IATI/IATI-Extra-Documentation/issues/205#issuecomment-56781599)

This should also be changed in 1.04 & 1.05, alongside 2.01

[2014-09-25 09:20] caprenter commented on #185
Following the team call on this - can you @stevieflow craft the new text pls?

[2014-09-25 09:22] bill-anderson commented on #239
ok

[2014-09-25 10:22] caprenter commented on #228
We have since agreed that the type attribute should be mandatory (reference?), so working on the commit...

[2014-09-25 10:26] Bjwebb commented on #237
@bill-anderson I copied the "MUST NOT" text from the proposal at http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers . I think perhaps it is a rule, which we can't enforce programatically - but it something we could monitor with the dashboard (e.g. look for large removals/additions of identifiers), and enforce manually. I'm planning on

[2014-09-25 10:37] Bjwebb commented on #66
Since the work here is now covered by other issues, I am closing this issue.

[2014-09-25 10:37] #66 closed, assigned to Bjwebb

[2014-09-25 10:37] Bjwebb commented on #67
Since the work here is now covered by other issues, I am closing this issue.

[2014-09-25 10:37] #67 closed, assigned to Bjwebb

[2014-09-25 10:41] bill-anderson commented on #237
Noted

[2014-09-25 10:44] caprenter opened #243 "Description for exactness code has codes in definition"
Description for exactness code has codes in definition - this would be inconvenient if we ever altered the codes on the list.
Definition: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/location/exactness/#iati-activities-iati-activity-location-exactness-code

Codelist: http://dev.iatistandard.org/201/codelists/GeographicExactness/

Can I suggest instead we have:
"A

[2014-09-25 10:50] bill-anderson commented on #243
Agree

[2014-09-25 11:00] Bjwebb commented on #237
For non-publishing orgs, as we discussed on the call this morning, I think I misunderstood the intent of the proposal:

From our call, it seems this should be something more like:

@bill-anderson Is that okay?

I also think we're also not being explicit about what a publisher should do to reference another publisher using 1.0x, who a non-valid (in 2.01) organisation identifier. Presumably you shou

[2014-09-25 11:21] bill-anderson commented on #237
Agree on non-pub org revision

referencing another publisher? definitely a loophole here

If i am on 2.01 and you are 1.01 GB-1 what do I call you? errmm (still thinking ...)

[2014-09-25 11:22] Bjwebb commented on #228
@bill-anderson Could you update the forum to explain that we making this change, and why?

http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

[2014-09-25 11:23] Bjwebb commented on #231
@caprenter Could you look into the "IATI Organisation Codelist" tasks here?

[2014-09-25 12:27] caprenter commented on #240
@Bjwebb has accepted this into 1.04 and merged it into 1.05 and 2.01

[2014-09-25 12:27] #240 closed, assigned to caprenter

[2014-09-25 13:31] bill-anderson commented on #228
http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers?page=1#post_22478655

[2014-09-25 13:34] bill-anderson commented on #228
see what i mean about what it looks like (which is far more scary-looking than it is)

[2014-09-29 09:14] #243 closed, assigned to caprenter

[2014-09-29 09:15] #239 closed, assigned to caprenter

[2014-09-29 09:19] caprenter commented on #238
The commit above is not related to this issue (I don't think - my mistake) - Re-assigned to @stevieflow to see what still needs to be done as Izzy is not around.

[2014-09-29 09:22] caprenter commented on #228
Now need to update the schema in line with this updated proposal:
http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers?page=1#post_22478655

[2014-09-29 09:34] stevieflow commented on #238
@bill-anderson

Is this more correct, as a schema description for `country-budget-items/budget-item/@percentage`:

[2014-09-29 09:39] bill-anderson commented on #238
Sounds right.
Yes

[2014-09-29 09:44] stevieflow commented on #238
@caprenter could you update the schema accordingly?

[2014-09-29 10:08] stevieflow commented on #228
FYI I've edited the example XML and code-example pages: https://github.com/IATI/IATI-Extra-Documentation/commit/5dfbf994774d4698fdd283cb95d307b3f14e2f88

[2014-09-29 11:05] bill-anderson commented on #237
Looks like we have three options
1. `<receiver-org @ref="XI-IATI-GB-1">`
2. `<receiver-org @ref="GB-1>`
3. `<receiver-org> <narrative>GB-1 DFID</narrative> </receiver-org>`

1) works for me provided that the search tool being built by Dan et al indexes 1.01 org-ids that don't have prefixes naturally AND with XI-IATI-

Agree?

[2014-09-29 12:09] bill-anderson commented on #228
I've updated forum details in top section on http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

[2014-09-29 12:17] bill-anderson commented on #182
If transaction/recipient-country AND/OR transaction/recipient-region are used THEN ALL transaction elements MUST contain a recipient-country ~~and/~~ or recipient-region element AND (iati-activity/recipient-country AND  iati-activity/recipient-region MUST NOT be used)

[2014-09-29 12:25] bill-anderson commented on #181
Yes

[2014-09-29 12:27] Bjwebb commented on #70
@bill-anderson Is that actually easier? Isn't it easier to just say "Must be reported at activity level or transaction level but not both.". If we do want to change this rule, does the forum also need changing?

[2014-09-29 12:30] bill-anderson commented on #171
Ok

[2014-09-29 12:33] bill-anderson commented on #170
Ok

[2014-09-29 12:38] bill-anderson commented on #169
If recipient-country OR recipient-region are reported at the transaction level, ALL transactions MUST contain a recipient-country ~~and/~~ or recipient-region element and iati-activity/recipient-country ~~or~~ and iati-activity/recipient-region MUST NOT be used.

[2014-09-29 12:44] bill-anderson commented on #70
Isn't it easier to just say "Must be reported at activity level or transaction level but not both.".
Yes, I agree

If we do want to change this rule, does the forum also need changing?
Yes I will change now

[2014-09-29 12:47] bill-anderson commented on #70
NB this works for sector (which I have changed) but NOT region and country which has a few more and/ors

[2014-09-29 13:41] Bjwebb commented on #228
@bill-anderson That section does not say that we have added `other-identifier/@type` in 2.01. Should it?

[2014-09-29 13:49] Bjwebb commented on #70
@bill-anderson Have you made the change on the forum? I can not see it at http://support.iatistandard.org/entries/52106549-Version-2-01-Iteration-3-7-Replicate-more-activity-level-elements-at-transaction-level

[2014-09-29 13:54] bill-anderson commented on #70
Who pointed me to http://support.iatistandard.org/entries/77287178-Version-2-01-Iteration-2-7-Replicate-more-activity-level-elements-at-transaction-level

Doh

Done

[2014-09-29 13:57] bill-anderson commented on #228
Does now

[2014-09-29 14:04] Bjwebb commented on #70
@bill-anderson David did. But in a comment posted at the start of August!

Where should I be getting the rule for region/country from, is it what's written in the schema description? If it is from the schema description, are there other rules written into the schema, that need need adding to http://dev.iatistandard.org/201/rulesets/standard-ruleset/#non-machine-readable-rules?

Also, how does the

[2014-09-29 14:04] #228 closed, assigned to Bjwebb

[2014-09-29 14:12] Bjwebb commented on #237
Yes, I think 1) is fine.

@bill-anderson Should this be described in the Schema definition (which is already a bit long), or in Guidance? Does this also need adding to the forum?

[2014-09-29 14:22] bill-anderson commented on #237
Guidance
I'm not adding any more to the forum. Other than what has to go into the formal proposal

[2014-09-29 14:27] bill-anderson commented on #70
Actually this does work

Either recipient-country or recipient-region MUST be reported at activity level or transaction level but not both.

Doesn't it?

[2014-09-29 14:45] Bjwebb commented on #70
@bill-anderson Yes, that does work. Can I just double check we are making these mandatory in 2.01, as they're not mentioned [here](http://support.iatistandard.org/entries/52105879-Version-2-01-Iteration-3-1-Strengthening-the-Core-of-the-Standard), whereas sector is.

[2014-09-29 14:46] Bjwebb commented on #237
@stevieflow Could you update the Guidance/Extra-Documentation as appropriate? PM me if it's not clear what wants adding.

[2014-09-29 15:03] caprenter commented on #171
Closed as the fix in #170 covers this

[2014-09-29 15:03] #171 closed, assigned to caprenter

[2014-09-29 15:07] bill-anderson commented on #70
Yes

I will add to the proposal in Strengthning the Core section

[2014-09-29 15:16] #238 closed, assigned to caprenter

[2014-09-29 15:49] #169 closed, assigned to caprenter

[2014-09-29 15:49] #170 closed, assigned to caprenter

[2014-09-29 15:49] #181 closed, assigned to caprenter

[2014-09-29 15:49] #182 closed, assigned to caprenter

[2014-09-29 15:56] Bjwebb commented on #70
Thanks, have added the rules to http://dev.iatistandard.org/201/rulesets/standard-ruleset/#non-machine-readable-rules

Assigning to @bill-anderson , to update the proposal.

[2014-09-29 16:02] stevieflow commented on #237
Putting this documentation Issue in Extra-Docs on this into Post 2.01 milestone right now - as it is about updating the Overview pages

[2014-09-29 16:15] #237 closed, assigned to Bjwebb

[2014-09-29 16:45] Bjwebb commented on #70
@bill-anderson BTW, not sure I've had an answer to this question:

[2014-09-29 16:49] bill-anderson commented on #70
Not sure what that means. If you mean you can report one vocabulary at activity-level, and another at transaction-level, definitely not.

""Must be reported at activity level or transaction level but not both." doesn't allow that

[2014-09-29 16:52] Bjwebb commented on #70
Yes, current rule does not allow it. I was asking whether we should allow it - it seems like something publishers might want. Happy to leave as is though.

[2014-09-29 17:10] bill-anderson commented on #70
Definitely don't want to do make it complicated

[2014-09-30 13:22] caprenter commented on #70
So @bill-anderson what is the action here?

[2014-09-30 13:27] Bjwebb commented on #70
Action from Bill's most recent clarification is to do nothing, I was simply asking whether it should be different.

Outstanding action on this issue is for Bill to update the Strengthening the Core section of the proposal https://github.com/IATI/IATI-Schemas/issues/70#issuecomment-57175082